<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Structured report for DJD of lumbar spine">
  <meta name="author" content="I-Ta Tsai">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Structure Report</title>

  <!-- For IE 6/7/8 Responsive -->
  <!--[if lt IE 9]>
      <script src="js/respond.min.js"></script>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

  <!-- Google Analytics -->
<%= require('html-loader!./partials/google_analytics.html') %>

  <!-- Vendors: jquery, bootstrap, clipboard.js -->
<%= require('html-loader!./partials/vendors_css.html') %>
</head>

<body>

<%= require('html-loader!./partials/nav.html') %>

  <div class="container-fluid">
    <div class="row">
<%= require('html-loader!./partials/sidebar.html') %>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h4">L-spine</h1>

          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button type="button" id="btn_clear" class="btn btn-sm btn-outline-secondary">Clear</button>
              <button type="button" id="btn_copy" class="btn btn-sm btn-outline-primary" data-clipboard-target="#result"
                data-toggle="tooltip" data-original-title="Copied!">Show &amp; Copy</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <!-- L1-L2 -->
            <h2 class="h6">L1-L2</h2>
            <div id="L1-L2" class="mb-3">
              <!-- Disk Space Narrowing -->
              <form class="form-inline">
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_dsn" type="checkbox" id="cb_dsn_l12" value="">
                  <label class="form-check-label" for="cb_dsn_l12">Disk space narrowing</label>
                </div>
                <div class="form-check mb-2 ml-sm-4 mr-sm-2">
                  <input class="form-check-input disc_space_narrowing" type="radio" id="disc_space_l12_1"
                    name="disc_space_l12" value="1">
                  <label class="form-check-label" for="disc_space_l12_1">mild</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input disc_space_narrowing" type="radio" id="disc_space_l12_2"
                    name="disc_space_l12" value="2">
                  <label class="form-check-label" for="disc_space_l12_2">moderate</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input disc_space_narrowing" type="radio" id="disc_space_l12_3"
                    name="disc_space_l12" value="3">
                  <label class="form-check-label" for="disc_space_l12_3">severe</label>
                </div>
              </form>

              <!-- Degenerative Spondylolisthesis -->
              <form class="form-inline">
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_deg_spon" type="checkbox" id="cb_l12_spdl" value="">
                  <label class="form-check-label" for="cb_l12_spdl">Degenerative spondylolisthesis</label>
                </div>
                <div class="form-check mb-2 ml-sm-4 mr-sm-2">
                  <label class="form-check-label">grade: </label>
                </div>
                <div class="form-check mb-2 ml-sm-2 mr-sm-2">
                  <input class="form-check-input deg_spon" type="radio" id="deg_spon_l12_1" name="deg_spon_l12"
                    value="1">
                  <label class="form-check-label" for="deg_spon_l12_1">1</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input deg_spon" type="radio" id="deg_spon_l12_2" name="deg_spon_l12"
                    value="2">
                  <label class="form-check-label" for="deg_spon_l12_2">2</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input deg_spon" type="radio" id="deg_spon_l12_3" name="deg_spon_l12"
                    value="3">
                  <label class="form-check-label" for="deg_spon_l12_3">3</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input deg_spon" type="radio" id="deg_spon_l12_4" name="deg_spon_l12"
                    value="4">
                  <label class="form-check-label" for="deg_spon_l12_4">4</label>
                </div>
              </form>

              <!-- Retrolisthesis and Hypermobility -->
              <form class="form-inline">
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_retro" type="checkbox" id="cb_l12_retr" value="">
                  <label class="form-check-label" for="cb_l12_retr">Retrolisthesis</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_hyper" type="checkbox" id="cb_l12_hyper" value="">
                  <label class="form-check-label" for="cb_l12_hyper">Hypermobility</label>
                </div>
              </form>
            </div>

            <!-- L2-L3 -->
            <h2 class="h6">L2-L3</h2>
            <div id="L2-L3" class="mb-3">
              <!-- Disk Space Narrowing -->
              <form class="form-inline">
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_dsn" type="checkbox" id="cb_dsn_l23" value="">
                  <label class="form-check-label" for="cb_dsn_l23">Disk space narrowing</label>
                </div>
                <div class="form-check mb-2 ml-sm-4 mr-sm-2">
                  <input class="form-check-input disc_space_narrowing" type="radio" id="disc_space_l23_1"
                    name="disc_space_l23" value="1">
                  <label class="form-check-label" for="disc_space_l23_1">mild</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input disc_space_narrowing" type="radio" id="disc_space_l23_2"
                    name="disc_space_l23" value="2">
                  <label class="form-check-label" for="disc_space_l23_2">moderate</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input disc_space_narrowing" type="radio" id="disc_space_l23_3"
                    name="disc_space_l23" value="3">
                  <label class="form-check-label" for="disc_space_l23_3">severe</label>
                </div>
              </form>

              <!-- Degenerative Spondylolisthesis -->
              <form class="form-inline">
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_deg_spon" type="checkbox" id="cb_l23_spdl" value="">
                  <label class="form-check-label" for="cb_l23_spdl">Degenerative spondylolisthesis</label>
                </div>
                <div class="form-check mb-2 ml-sm-4 mr-sm-2">
                  <label class="form-check-label">grade: </label>
                </div>
                <div class="form-check mb-2 ml-sm-2 mr-sm-2">
                  <input class="form-check-input deg_spon" type="radio" id="deg_spon_l23_1" name="deg_spon_l23"
                    value="1">
                  <label class="form-check-label" for="deg_spon_l23_1">1</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input deg_spon" type="radio" id="deg_spon_l23_2" name="deg_spon_l23"
                    value="2">
                  <label class="form-check-label" for="deg_spon_l23_2">2</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input deg_spon" type="radio" id="deg_spon_l23_3" name="deg_spon_l23"
                    value="3">
                  <label class="form-check-label" for="deg_spon_l23_3">3</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input deg_spon" type="radio" id="deg_spon_l23_4" name="deg_spon_l23"
                    value="4">
                  <label class="form-check-label" for="deg_spon_l23_4">4</label>
                </div>
              </form>

              <!-- Retrolisthesis and Hypermobility -->
              <form class="form-inline">
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_retro" type="checkbox" id="cb_l23_retr" value="">
                  <label class="form-check-label" for="cb_l23_retr">Retrolisthesis</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_hyper" type="checkbox" id="cb_l23_hyper" value="">
                  <label class="form-check-label" for="cb_l23_hyper">Hypermobility</label>
                </div>
              </form>
            </div>

            <!-- L3-L4 -->
            <h2 class="h6">L3-L4</h2>
            <div id="L3-L4" class="mb-3">
              <!-- Disk Space Narrowing -->
              <form class="form-inline">
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_dsn" type="checkbox" id="cb_dsn_l34" value="">
                  <label class="form-check-label" for="cb_dsn_l34">Disk space narrowing</label>
                </div>
                <div class="form-check mb-2 ml-sm-4 mr-sm-2">
                  <input class="form-check-input disc_space_narrowing" type="radio" id="disc_space_l34_1"
                    name="disc_space_l34" value="1">
                  <label class="form-check-label" for="disc_space_l34_1">mild</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input disc_space_narrowing" type="radio" id="disc_space_l34_2"
                    name="disc_space_l34" value="2">
                  <label class="form-check-label" for="disc_space_l34_2">moderate</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input disc_space_narrowing" type="radio" id="disc_space_l34_3"
                    name="disc_space_l34" value="3">
                  <label class="form-check-label" for="disc_space_l34_3">severe</label>
                </div>
              </form>

              <!-- Degenerative Spondylolisthesis -->
              <form class="form-inline">
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_deg_spon" type="checkbox" id="cb_l34_spdl" value="">
                  <label class="form-check-label" for="cb_l34_spdl">Degenerative spondylolisthesis</label>
                </div>
                <div class="form-check mb-2 ml-sm-4 mr-sm-2">
                  <label class="form-check-label">grade: </label>
                </div>
                <div class="form-check mb-2 ml-sm-2 mr-sm-2">
                  <input class="form-check-input deg_spon" type="radio" id="deg_spon_l34_1" name="deg_spon_l34"
                    value="1">
                  <label class="form-check-label" for="deg_spon_l34_1">1</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input deg_spon" type="radio" id="deg_spon_l34_2" name="deg_spon_l34"
                    value="2">
                  <label class="form-check-label" for="deg_spon_l34_2">2</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input deg_spon" type="radio" id="deg_spon_l34_3" name="deg_spon_l34"
                    value="3">
                  <label class="form-check-label" for="deg_spon_l34_3">3</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input deg_spon" type="radio" id="deg_spon_l34_4" name="deg_spon_l34"
                    value="4">
                  <label class="form-check-label" for="deg_spon_l34_4">4</label>
                </div>
              </form>

              <!-- Retrolisthesis and Hypermobility -->
              <form class="form-inline">
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_retro" type="checkbox" id="cb_l34_retr" value="">
                  <label class="form-check-label" for="cb_l34_retr">Retrolisthesis</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_hyper" type="checkbox" id="cb_l34_hyper" value="">
                  <label class="form-check-label" for="cb_l34_hyper">Hypermobility</label>
                </div>
              </form>
            </div>


            <!-- L4-L5 -->
            <h2 class="h6">L4-L5</h2>
            <div id="L4-L5" class="mb-3">
              <!-- Disk Space Narrowing -->
              <form class="form-inline">
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_dsn" type="checkbox" id="cb_dsn_l45" value="">
                  <label class="form-check-label" for="cb_dsn_l45">Disk space narrowing</label>
                </div>
                <div class="form-check mb-2 ml-sm-4 mr-sm-2">
                  <input class="form-check-input disc_space_narrowing" type="radio" id="disc_space_l45_1"
                    name="disc_space_l45" value="1">
                  <label class="form-check-label" for="disc_space_l45_1">mild</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input disc_space_narrowing" type="radio" id="disc_space_l45_2"
                    name="disc_space_l45" value="2">
                  <label class="form-check-label" for="disc_space_l45_2">moderate</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input disc_space_narrowing" type="radio" id="disc_space_l45_3"
                    name="disc_space_l45" value="3">
                  <label class="form-check-label" for="disc_space_l45_3">severe</label>
                </div>
              </form>

              <!-- Degenerative Spondylolisthesis -->
              <form class="form-inline">
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_deg_spon" type="checkbox" id="cb_l45_spdl" value="">
                  <label class="form-check-label" for="cb_l45_spdl">Degenerative spondylolisthesis</label>
                </div>
                <div class="form-check mb-2 ml-sm-4 mr-sm-2">
                  <label class="form-check-label">grade: </label>
                </div>
                <div class="form-check mb-2 ml-sm-2 mr-sm-2">
                  <input class="form-check-input deg_spon" type="radio" id="deg_spon_l45_1" name="deg_spon_l45"
                    value="1">
                  <label class="form-check-label" for="deg_spon_l45_1">1</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input deg_spon" type="radio" id="deg_spon_l45_2" name="deg_spon_l45"
                    value="2">
                  <label class="form-check-label" for="deg_spon_l45_2">2</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input deg_spon" type="radio" id="deg_spon_l45_3" name="deg_spon_l45"
                    value="3">
                  <label class="form-check-label" for="deg_spon_l45_3">3</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input deg_spon" type="radio" id="deg_spon_l45_4" name="deg_spon_l45"
                    value="4">
                  <label class="form-check-label" for="deg_spon_l45_4">4</label>
                </div>
              </form>

              <!-- Retrolisthesis and Hypermobility -->
              <form class="form-inline">
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_retro" type="checkbox" id="cb_l45_retr" value="">
                  <label class="form-check-label" for="cb_l45_retr">Retrolisthesis</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_hyper" type="checkbox" id="cb_l45_hyper" value="">
                  <label class="form-check-label" for="cb_l45_hyper">Hypermobility</label>
                </div>
              </form>
            </div>

            <!-- L5-S1 -->
            <h2 class="h6">L5-S1</h2>
            <div id="L5-S1" class="mb-3">
              <!-- Disk Space Narrowing -->
              <form class="form-inline">
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_dsn" type="checkbox" id="cb_dsn_l51" value="">
                  <label class="form-check-label" for="cb_dsn_l51">Disk space narrowing</label>
                </div>
                <div class="form-check mb-2 ml-sm-4 mr-sm-2">
                  <input class="form-check-input disc_space_narrowing" type="radio" id="disc_space_l51_1"
                    name="disc_space_l51" value="1">
                  <label class="form-check-label" for="disc_space_l51_1">mild</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input disc_space_narrowing" type="radio" id="disc_space_l51_2"
                    name="disc_space_l51" value="2">
                  <label class="form-check-label" for="disc_space_l51_2">moderate</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input disc_space_narrowing" type="radio" id="disc_space_l51_3"
                    name="disc_space_l51" value="3">
                  <label class="form-check-label" for="disc_space_l51_3">severe</label>
                </div>
              </form>

              <!-- Degenerative Spondylolisthesis -->
              <form class="form-inline">
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_deg_spon" type="checkbox" id="cb_l51_spdl" value="">
                  <label class="form-check-label" for="cb_l51_spdl">Degenerative spondylolisthesis</label>
                </div>
                <div class="form-check mb-2 ml-sm-4 mr-sm-2">
                  <label class="form-check-label">grade: </label>
                </div>
                <div class="form-check mb-2 ml-sm-2 mr-sm-2">
                  <input class="form-check-input deg_spon" type="radio" id="deg_spon_l51_1" name="deg_spon_l51"
                    value="1">
                  <label class="form-check-label" for="deg_spon_l51_1">1</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input deg_spon" type="radio" id="deg_spon_l51_2" name="deg_spon_l51"
                    value="2">
                  <label class="form-check-label" for="deg_spon_l51_2">2</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input deg_spon" type="radio" id="deg_spon_l51_3" name="deg_spon_l51"
                    value="3">
                  <label class="form-check-label" for="deg_spon_l51_3">3</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input deg_spon" type="radio" id="deg_spon_l51_4" name="deg_spon_l51"
                    value="4">
                  <label class="form-check-label" for="deg_spon_l51_4">4</label>
                </div>
              </form>

              <!-- Retrolisthesis and Hypermobility -->
              <form class="form-inline">
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_retro" type="checkbox" id="cb_l51_retr" value="">
                  <label class="form-check-label" for="cb_l51_retr">Retrolisthesis</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_hyper" type="checkbox" id="cb_l51_hyper" value="">
                  <label class="form-check-label" for="cb_l51_hyper">Hypermobility</label>
                </div>
              </form>
            </div>
          </div>

          <!-- second column -->
          <div class="col">
            <div class="row">
              <div class="col-lg-12">
                <!-- OTHERS -->
                <h2 class="h6">Others</h2>
                <!-- Degenerative lower lumbar facet joints -->
                <form class="form-inline">
                  <div class="form-check mb-2 mr-sm-2">
                    <input class="form-check-input cb_dllfj" type="checkbox" id="cb_dllfj" value="">
                    <label class="form-check-label" for="cb_dllfj">Degenerative lower lumbar facet
                      joints</label>
                  </div>
                </form>

                <!-- Marginal osteophyte -->
                <form class="form-inline">
                  <div class="form-check mb-2 mr-sm-2">
                    <input class="form-check-input cb_mo" type="checkbox" id="cb_mo" value="" checked>
                    <label class="form-check-label" for="cb_mo">Marginal osteophyte</label>
                  </div>
                  <div class="form-check mb-2 ml-sm-4 mr-sm-2">
                    <input class="form-check-input cb_mo_sm" type="checkbox" id="cb_mo_sm" value="">
                    <label class="form-check-label" for="cb_mo_sm">small</label>
                  </div>
                </form>

                <!-- Scoliosis -->
                <form class="form-inline">
                  <div class="form-check mb-2 mr-sm-2">
                    <input class="form-check-input cb_scoliosis" type="checkbox" id="cb_scoliosis" value="">
                    <label class="form-check-label" for="cb_scoliosis">Scoliosis</label>
                  </div>
                  <div class="form-check mb-2 ml-sm-4 mr-sm-2">
                    <input class="form-check-input scoliosis" type="radio" id="scol_side_l" name="scol_side" value="0">
                    <label class="form-check-label" for="scol_side_l">Left</label>
                  </div>
                  <div class="form-check mb-2 mr-sm-2">
                    <input class="form-check-input scoliosis" type="radio" id="scol_side_r" name="scol_side" value="1">
                    <label class="form-check-label" for="scol_side_r">Right</label>
                  </div>
                </form>

                <!-- Collapse -->
                <form class="form-inline">
                  <div class="form-check mb-2 mr-sm-2">
                    <input class="form-check-input cb_collapse" type="checkbox" id="cb_collapse" value="">
                    <label class="form-check-label" for="cb_collapse">Collapse</label>
                  </div>
                  <div class="form-check mb-2 ml-sm-4 mr-sm-2">
                    <input class="form-check-input v_collapse" type="checkbox" id="collapse_level_t11"
                      name="collapse_level" value="T11">
                    <label class="form-check-label" for="collapse_level_t11">T11</label>
                  </div>
                  <div class="form-check mb-2 mr-sm-2">
                    <input class="form-check-input v_collapse" type="checkbox" id="collapse_level_t12"
                      name="collapse_level" value="T12">
                    <label class="form-check-label" for="collapse_level_t12">T12</label>
                  </div>
                  <div class="form-check mb-2 mr-sm-2">
                    <input class="form-check-input v_collapse" type="checkbox" id="collapse_level_l1"
                      name="collapse_level" value="L1">
                    <label class="form-check-label" for="collapse_level_l1">L1</label>
                  </div>
                  <div class="form-check mb-2 mr-sm-2">
                    <input class="form-check-input v_collapse" type="checkbox" id="collapse_level_l2"
                      name="collapse_level" value="L2">
                    <label class="form-check-label" for="collapse_level_l2">L2</label>
                  </div>
                  <div class="form-check mb-2 mr-sm-2">
                    <input class="form-check-input v_collapse" type="checkbox" id="collapse_level_l3"
                      name="collapse_level" value="L3">
                    <label class="form-check-label" for="collapse_level_l3">L3</label>
                  </div>
                  <div class="form-check mb-2 mr-sm-2">
                    <input class="form-check-input v_collapse" type="checkbox" id="collapse_level_l4"
                      name="collapse_level" value="L4">
                    <label class="form-check-label" for="collapse_level_l4">L4</label>
                  </div>
                  <div class="form-check mb-2 mr-sm-2">
                    <input class="form-check-input v_collapse" type="checkbox" id="collapse_level_l5"
                      name="collapse_level" value="L5">
                    <label class="form-check-label" for="collapse_level_l5">L5</label>
                  </div>
                </form>

                <!-- Lumbosacral Transitional Vertebrae -->
                <form class="form-inline">
                  <div class="form-check mb-2 mr-sm-2">
                    <input class="form-check-input cb_lstv" type="checkbox" id="cb_lstv" value="">
                    <label class="form-check-label" for="cb_lstv">LSTV</label>
                  </div>
                  <div class="form-check mb-2 ml-sm-4 mr-sm-2">
                    <input class="form-check-input lstv" type="radio" id="lstv_type_1" name="lstv_type" value="I">
                    <label class="form-check-label" for="lstv_type_1">I</label>
                  </div>
                  <div class="form-check mb-2 mr-sm-2">
                    <input class="form-check-input lstv" type="radio" id="lstv_type_2" name="lstv_type" value="II">
                    <label class="form-check-label" for="lstv_type_2">II</label>
                  </div>
                  <div class="form-check mb-2 mr-sm-2">
                    <input class="form-check-input lstv" type="radio" id="lstv_type_3" name="lstv_type" value="III">
                    <label class="form-check-label" for="lstv_type_3">III</label>
                  </div>
                  <div class="form-check mb-2 mr-sm-2">
                    <input class="form-check-input lstv" type="radio" id="lstv_type_4" name="lstv_type" value="IV">
                    <label class="form-check-label" for="lstv_type_4">IV</label>
                  </div>
                  <div class="form-check mb-2 ml-sm-4 mr-sm-2">
                    <input class="form-check-input lstv_side" type="radio" id="lstv_side_0" name="lstv_side" value="0">
                    <label class="form-check-label" for="lstv_side_0">Left</label>
                  </div>
                  <div class="form-check mb-2 mr-sm-2">
                    <input class="form-check-input lstv_side" type="radio" id="lstv_side_1" name="lstv_side" value="1">
                    <label class="form-check-label" for="lstv_side_1">Right</label>
                  </div>
                  <div class="form-check mb-2 mr-sm-2">
                    <input class="form-check-input lstv_side" type="radio" id="lstv_side_2" name="lstv_side" value="2">
                    <label class="form-check-label" for="lstv_side_2">Both</label>
                  </div>
                </form>

                <!-- Report -->
                <div class="row mt-5">
                  <div class="col">
                    <h2 class="h6">Report Text</h2>
                    <textarea id="result" class="form-control" rows="15"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>

  <!-- Vendors: jquery, bootstrap, clipboard.js -->
<%= require('html-loader!./partials/vendors_js.html') %>
</body>

</html>
