<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Structured report for DJD of lumbar spine">
  <meta name="author" content="I-Ta Tsai">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Structure Report</title>

  <!-- For IE 6/7/8 Responsive -->
  <!--[if lt IE 9]>
      <script src="js/respond.min.js"></script>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

  <!-- Google Analytics -->
<%= require('html-loader!./partials/google_analytics.html') %>

  <!-- Vendors: jquery, bootstrap, clipboard.js -->
<%= require('html-loader!./partials/vendors_css.html') %>
</head>

<body>

<%= require('html-loader!./partials/nav.html') %>

  <div class="container-fluid">
    <div class="row">
<%= require('html-loader!./partials/sidebar.html') %>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h4">L-spine</h1>

          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button type="button" id="btn_clear" class="btn btn-sm btn-outline-secondary">Clear</button>
              <button type="button" id="btn_copy" class="btn btn-sm btn-outline-primary" data-clipboard-target="#result" data-toggle="tooltip" data-original-title="Copied!">Show &amp; Copy</button>
            </div>
          </div>
        </div>

          <div class="row">
              <div class="col">
                <!-- L1-L2 -->
                <div class="form-group" id="L1-L2">
                  <label for="tabl1-2" class="col-lg-2 control-label">L1-L2</label>
                  <div class="col">
                    <!-- Disk Space Narrowing -->
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="cb_dsn" value=""> Disk space narrowing
                      </label>
                    </div>
                    <div class="col-lg-offset-1">
                      <label class="radio-inline">
                        <input type="radio" class="disc_space_narrowing" name="disc_space_l12" value="1"> mild
                      </label>
                      <label class="radio-inline">
                        <input type="radio" class="disc_space_narrowing" name="disc_space_l12" value="2"> moderate
                      </label>
                      <label class="radio-inline">
                        <input type="radio" class="disc_space_narrowing" name="disc_space_l12" value="3"> severe
                      </label>
                    </div>

                    <div class="">
                      <!-- Retrolisthesis -->
                      <label class="checkbox-inline col-lg-6">
                        <input type="checkbox" class="cb_retro" value=""> Retrolisthesis
                      </label>

                      <!-- Hypermobility -->
                      <label class="checkbox-inline">
                        <input type="checkbox" class="cb_hyper" value=""> Hypermobility
                      </label>
                    </div>

                    <!-- Degenerative Spondylolisthesis -->
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="cb_deg_spon" value=""> Degenerative spondylolisthesis
                      </label>
                    </div>
                    <div class="col-lg-offset-1">
                      <label class="radio-inline">
                        <input type="radio" class="deg_spon" name="deg_spon_l12" value="1"> grade 1
                      </label>
                      <label class="radio-inline">
                        <input type="radio" class="deg_spon" name="deg_spon_l12" value="2"> grade 2
                      </label>
                      <label class="radio-inline">
                        <input type="radio" class="deg_spon" name="deg_spon_l12" value="3"> grade 3
                      </label>
                      <label class="radio-inline">
                        <input type="radio" class="deg_spon" name="deg_spon_l12" value="4"> grade 4
                      </label>
                    </div>
                  </div>
                </div>
                <!-- L2-L3 -->
                <div class="form-group" id="L2-L3">
                  <label for="tabl1-2" class="col-lg-2 control-label">L2-L3</label>
                  <div class="col-lg-10">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="cb_dsn" value=""> Disk space narrowing
                      </label>
                    </div>
                    <div class="col-lg-offset-1">
                      <label class="radio-inline">
                        <input type="radio" class="disc_space_narrowing" name="disc_space_l23" value="1"> mild
                      </label>
                      <label class="radio-inline">
                        <input type="radio" class="disc_space_narrowing" name="disc_space_l23" value="2"> moderate
                      </label>
                      <label class="radio-inline">
                        <input type="radio" class="disc_space_narrowing" name="disc_space_l23" value="3"> severe
                      </label>
                    </div>

                    <div class="">
                      <label class="checkbox-inline col-lg-6">
                        <input type="checkbox" class="cb_retro" value=""> Retrolisthesis
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" class="cb_hyper" value=""> Hypermobility
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="cb_deg_spon" value=""> Degenerative spondylolisthesis
                      </label>
                    </div>
                    <div class="col-lg-offset-1">
                      <label class="radio-inline">
                        <input type="radio" class="deg_spon" name="deg_spon_l23" value="1"> grade 1
                      </label>
                      <label class="radio-inline">
                        <input type="radio" class="deg_spon" name="deg_spon_l23" value="2"> grade 2
                      </label>
                      <label class="radio-inline">
                        <input type="radio" class="deg_spon" name="deg_spon_l23" value="3"> grade 3
                      </label>
                      <label class="radio-inline">
                        <input type="radio" class="deg_spon" name="deg_spon_l23" value="4"> grade 4
                      </label>
                    </div>
                  </div>
                </div>
                <!-- L3-L4 -->
                <div class="form-group" id="L3-L4">
                  <label for="tabl1-2" class="col-lg-2 control-label">L3-L4</label>
                  <div class="col-lg-10">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="cb_dsn" value=""> Disk space narrowing
                      </label>
                    </div>
                    <div class="col-lg-offset-1">
                      <label class="radio-inline">
                        <input type="radio" class="disc_space_narrowing" name="disc_space_l34" value="1"> mild
                      </label>
                      <label class="radio-inline">
                        <input type="radio" class="disc_space_narrowing" name="disc_space_l34" value="2"> moderate
                      </label>
                      <label class="radio-inline">
                        <input type="radio" class="disc_space_narrowing" name="disc_space_l34" value="3"> severe
                      </label>
                    </div>

                    <div class="">
                      <label class="checkbox-inline col-lg-6">
                        <input type="checkbox" class="cb_retro" value=""> Retrolisthesis
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" class="cb_hyper" value=""> Hypermobility
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="cb_deg_spon" value=""> Degenerative spondylolisthesis
                      </label>
                    </div>
                    <div class="col-lg-offset-1">
                      <label class="radio-inline">
                        <input type="radio" class="deg_spon" name="deg_spon_l34" value="1"> grade 1
                      </label>
                      <label class="radio-inline">
                        <input type="radio" class="deg_spon" name="deg_spon_l34" value="2"> grade 2
                      </label>
                      <label class="radio-inline">
                        <input type="radio" class="deg_spon" name="deg_spon_l34" value="3"> grade 3
                      </label>
                      <label class="radio-inline">
                        <input type="radio" class="deg_spon" name="deg_spon_l34" value="4"> grade 4
                      </label>
                    </div>
                  </div>
                </div>
                <!-- L4-L5 -->
                <div class="form-group" id="L4-L5">
                  <label for="tabl1-2" class="col-lg-2 control-label">L4-L5</label>
                  <div class="col-lg-10">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="cb_dsn" value=""> Disk space narrowing
                      </label>
                    </div>
                    <div class="col-lg-offset-1">
                      <label class="radio-inline">
                        <input type="radio" class="disc_space_narrowing" name="disc_space_l45" value="1"> mild
                      </label>
                      <label class="radio-inline">
                        <input type="radio" class="disc_space_narrowing" name="disc_space_l45" value="2"> moderate
                      </label>
                      <label class="radio-inline">
                        <input type="radio" class="disc_space_narrowing" name="disc_space_l45" value="3"> severe
                      </label>
                    </div>

                    <div class="">
                      <label class="checkbox-inline col-lg-6">
                        <input type="checkbox" class="cb_retro" value=""> Retrolisthesis
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" class="cb_hyper" value=""> Hypermobility
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="cb_deg_spon" value=""> Degenerative spondylolisthesis
                      </label>
                    </div>
                    <div class="col-lg-offset-1">
                      <label class="radio-inline">
                        <input type="radio" class="deg_spon" name="deg_spon_l45" value="1"> grade 1
                      </label>
                      <label class="radio-inline">
                        <input type="radio" class="deg_spon" name="deg_spon_l45" value="2"> grade 2
                      </label>
                      <label class="radio-inline">
                        <input type="radio" class="deg_spon" name="deg_spon_l45" value="3"> grade 3
                      </label>
                      <label class="radio-inline">
                        <input type="radio" class="deg_spon" name="deg_spon_l45" value="4"> grade 4
                      </label>
                    </div>
                  </div>
                </div>
                <!-- L5-S1 -->
                <div class="form-group" id="L5-S1">
                  <label for="tabl1-2" class="col-lg-2 control-label">L5-S1</label>
                  <div class="col-lg-10">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="cb_dsn" value=""> Disk space narrowing
                      </label>
                    </div>
                    <div class="col-lg-offset-1">
                      <label class="radio-inline">
                        <input type="radio" class="disc_space_narrowing" name="disc_space_l51" value="1"> mild
                      </label>
                      <label class="radio-inline">
                        <input type="radio" class="disc_space_narrowing" name="disc_space_l51" value="2"> moderate
                      </label>
                      <label class="radio-inline">
                        <input type="radio" class="disc_space_narrowing" name="disc_space_l51" value="3"> severe
                      </label>
                    </div>

                    <div class="">
                      <label class="checkbox-inline col-lg-6">
                        <input type="checkbox" class="cb_retro" value=""> Retrolisthesis
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" class="cb_hyper" value=""> Hypermobility
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="cb_deg_spon" value=""> Degenerative spondylolisthesis
                      </label>
                    </div>
                    <div class="col-lg-offset-1">
                      <label class="radio-inline">
                        <input type="radio" class="deg_spon" name="deg_spon_l51" value="1"> grade 1
                      </label>
                      <label class="radio-inline">
                        <input type="radio" class="deg_spon" name="deg_spon_l51" value="2"> grade 2
                      </label>
                      <label class="radio-inline">
                        <input type="radio" class="deg_spon" name="deg_spon_l51" value="3"> grade 3
                      </label>
                      <label class="radio-inline">
                        <input type="radio" class="deg_spon" name="deg_spon_l51" value="4"> grade 4
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <!-- second column -->
              <div class="col">
                <div class="row">
                  <div class="col-lg-12">
                    <!-- OTHERS -->
                    <div class="form-group">
                      <label for="tab-other" class="col-lg-2 control-label">Others</label>
                      <div class="col-lg-10">
                        <!-- Degenerative lower lumbar facet joints -->
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" class="cb_dllfj" value="" checked> Degenerative lower lumbar facet
                            joints
                          </label>
                        </div>

                        <!-- Marginal osteophyte -->
                        <div class="">
                          <label class="checkbox-inline col-lg-6">
                            <input type="checkbox" class="cb_mo" value="" checked> Marginal osteophyte
                          </label>
                          <label class="checkbox-inline">
                            <input type="checkbox" class="cb_mo_sm" value="" checked> small
                          </label>
                        </div>

                        <!-- Scoliosis -->
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" class="cb_scoliosis" value=""> Scoliosis
                          </label>
                        </div>
                        <div class="col-lg-offset-1">
                          <label class="radio-inline">
                            <input type="radio" class="scoliosis" name="scol_side" value="0"> Left
                          </label>
                          <label class="radio-inline">
                            <input type="radio" class="scoliosis" name="scol_side" value="1"> Right
                          </label>
                        </div>

                        <!-- Collapse -->
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" class="cb_collapse" value=""> Collapse
                          </label>
                        </div>
                        <div class="col-lg-offset-1">
                          <label class="checkbox-inline">
                            <input type="checkbox" class="v_collapse" name="collapse_level" value="T11"> T11
                          </label>
                          <label class="checkbox-inline">
                            <input type="checkbox" class="v_collapse" name="collapse_level" value="T12"> T12
                          </label>
                          <label class="checkbox-inline">
                            <input type="checkbox" class="v_collapse" name="collapse_level" value="L1"> L1
                          </label>
                          <label class="checkbox-inline">
                            <input type="checkbox" class="v_collapse" name="collapse_level" value="L2"> L2
                          </label>
                          <label class="checkbox-inline">
                            <input type="checkbox" class="v_collapse" name="collapse_level" value="L3"> L3
                          </label>
                          <label class="checkbox-inline">
                            <input type="checkbox" class="v_collapse" name="collapse_level" value="L4"> L4
                          </label>
                          <label class="checkbox-inline">
                            <input type="checkbox" class="v_collapse" name="collapse_level" value="L5"> L5
                          </label>
                        </div>

                        <!-- Lumbosacral Transitional Vertebrae -->
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" class="cb_lstv" value=""> LSTV
                          </label>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="col-lg-offset-2">
                              <label class="radio-inline">
                                <input type="radio" class="lstv" name="lstv_type" value="I"> I
                              </label>
                              <label class="radio-inline">
                                <input type="radio" class="lstv" name="lstv_type" value="II"> II
                              </label>
                              <label class="radio-inline">
                                <input type="radio" class="lstv" name="lstv_type" value="III"> III
                              </label>
                              <label class="radio-inline">
                                <input type="radio" class="lstv" name="lstv_type" value="IV"> IV
                              </label>
                            </div>
                          </div>
                          <div id="lstv_side_div" class="col-md-6">
                            <div class="col-lg-offset-2">
                              <label class="radio-inline">
                                <input type="radio" class="lstv_side" name="lstv_side" value="0"> Left
                              </label>
                              <label class="radio-inline">
                                <input type="radio" class="lstv_side" name="lstv_side" value="1"> Right
                              </label>
                              <label class="radio-inline">
                                <input type="radio" class="lstv_side" name="lstv_side" value="2"> Both
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Report -->
                <div class="row mt-5">
                  <div class="col">
                    <h2 class="h5">Report Text</h2>
                    <textarea id="result" class="form-control" rows="15"></textarea>
                  </div>
                </div>
              </div>
          </div>
      </main>
    </div>
  </div>

  <!-- Vendors: jquery, bootstrap, clipboard.js -->
<%= require('html-loader!./partials/vendors_js.html') %>
</body>

</html>
