<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Structured report for lung cancer staging"
    />
    <meta name="author" content="I-Ta Tsai" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Structure Report for Cervical Cancer Staging</title>

    <!-- For IE 6/7/8 Responsive -->
    <!--[if lt IE 9]>
      <script src="js/respond.min.js"></script>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Google Analytics -->
    <%= require('../partials/google_analytics.html').default %>

    <!-- Vendors: jquery, bootstrap, clipboard.js -->
    <%= require('../partials/vendors_css.html').default %>
  </head>

  <body
    class="bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 transition-colors duration-200"
  >
    <%= require('../partials/nav.html').default %> <%=
    require('../partials/sidebar.html').default %>

    <main
      role="main"
      class="md:ml-48 lg:ml-56 pt-12 min-h-screen bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 transition-colors duration-200"
    >
      <div class="p-6 max-w-7xl mx-auto">
        <div
          class="flex justify-between items-center pb-4 mb-4 border-b border-gray-200 dark:border-gray-700"
        >
          <h1 class="text-2xl font-bold flex items-center gap-2">
            Cervical Cancer Staging Form
            <span
              class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-blue-100 text-blue-800 dark:bg-blue-900 dark:text-blue-200 align-super ml-2"
              >AJCC 9th</span
            >
          </h1>

          <%= require('../partials/toolbar_buttons.html').default %>
        </div>

        <div class="row">
          <div class="col">
            <!-- Imaging Modality -->
            <h2
              class="text-lg font-bold mb-3 text-gray-800 dark:text-gray-200 border-l-4 border-blue-500 pl-2"
            >
              Imaging Modality
            </h2>
            <form class="">
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input
                  class="form-check-input"
                  type="radio"
                  name="protocol_radios"
                  id="radio_ct"
                  value="ct"
                />
                <label class="form-check-label" for="radio_ct">CT</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input
                  class="form-check-input"
                  type="radio"
                  name="protocol_radios"
                  id="radio_mr"
                  value="mr"
                  checked
                />
                <label class="form-check-label" for="radio_mr">MRI</label>
              </div>
            </form>

            <!-- Tumor Size -->
            <h2 class="h4 mt-4">Tumor Size</h2>
            <form
              class="needs-validation form-inline"
              id="form_tumor_size"
              novalidate
            >
              <div class="input-group input-group-sm mb-2 mr-sm-2">
                <input
                  type="number"
                  pattern="[0-9]+([\,|\.][0-9]+)?"
                  step="0.1"
                  class="form-control"
                  aria-label="Greatest diameter in cm"
                  id="txt_ts_len"
                  placeholder="Greatest diameter"
                  required
                />
                <div class="input-group-append">
                  <span class="input-group-text">cm</span>
                </div>
                <div class="invalid-tooltip">Please enter a number.</div>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="cb_ts_nm"
                  value="1"
                />
                <label class="form-check-label" for="cb_ts_nm"
                  >Non-measurable</label
                >
                <div class="valid-tooltip">Or, check Non-measurable.</div>
              </div>
            </form>

            <!-- Tumor Invasion -->
            <h2 class="h4 mt-4">Tumor Invasion</h2>
            <form class="">
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_ti cb_ti_t1"
                  type="checkbox"
                  id="cb_ti_cx"
                  value="cervix"
                  checked
                />
                <label class="form-check-label lb_ti" for="cb_ti_cx"
                  >Cervix</label
                >
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_ti cb_ti_t2a"
                  type="checkbox"
                  id="cb_ti_ub"
                  value="uterine body"
                />
                <label class="form-check-label lb_ti" for="cb_ti_ub"
                  >Uterine body</label
                >
              </div>
            </form>
            <form class="form-inline">
              <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label lb_ti has_parts" for="cb_ti_pm"
                  >Parametrium</label
                >
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_ti cb_ti_t2b cb_ti_pm"
                  type="checkbox"
                  id="cb_ti_rpm"
                  value="right"
                />
                <label class="form-check-label" for="cb_ti_rpm">right</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_ti cb_ti_t2b cb_ti_pm"
                  type="checkbox"
                  id="cb_ti_lpm"
                  value="left"
                />
                <label class="form-check-label" for="cb_ti_lpm">left</label>
              </div>
            </form>
            <form class="form-inline">
              <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label lb_ti has_parts" for="cb_ti_v"
                  >Vagina</label
                >
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_ti cb_ti_t2a cb_ti_v"
                  type="checkbox"
                  id="cb_ti_uv"
                  value="upper 2/3"
                />
                <label class="form-check-label" for="cb_ti_uv">upper 2/3</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_ti cb_ti_t3a cb_ti_v"
                  type="checkbox"
                  id="cb_ti_lv"
                  value="lower 1/3"
                />
                <label class="form-check-label" for="cb_ti_lv">lower 1/3</label>
              </div>
            </form>
            <form class="form-inline">
              <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label lb_ti has_parts" for="cb_ti_ps"
                  >Pelvic sidewall</label
                >
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_ti cb_ti_t3b cb_ti_ps"
                  type="checkbox"
                  id="cb_ti_rpw"
                  value="right"
                />
                <label class="form-check-label" for="cb_ti_rpw">right</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_ti cb_ti_t3b cb_ti_ps"
                  type="checkbox"
                  id="cb_ti_lpw"
                  value="left"
                />
                <label class="form-check-label" for="cb_ti_lpw">left</label>
              </div>
            </form>
            <form class="form-inline">
              <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label lb_ti has_parts" for="cb_ti_h"
                  >Hydronephrosis</label
                >
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_ti cb_ti_t3b cb_ti_h"
                  type="checkbox"
                  id="cb_ti_rh"
                  value="right"
                />
                <label class="form-check-label" for="cb_ti_rh">right</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_ti cb_ti_t3b cb_ti_h"
                  type="checkbox"
                  id="cb_ti_lh"
                  value="left"
                />
                <label class="form-check-label" for="cb_ti_lh">left</label>
              </div>
            </form>

            <form class="form-inline">
              <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label lb_ti has_parts" for="cb_ti_p"
                  >Pelvic organ invasion</label
                >
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_ti cb_ti_t4 cb_ti_p"
                  type="checkbox"
                  id="cb_ti_a"
                  value="adnexa"
                />
                <label class="form-check-label" for="cb_ti_a">Adnexa</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_ti cb_ti_t4 cb_ti_p"
                  type="checkbox"
                  id="cb_ti_b"
                  value="bladder"
                />
                <label class="form-check-label" for="cb_ti_b">Bladder</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_ti cb_ti_t4 cb_ti_p"
                  type="checkbox"
                  id="cb_ti_r"
                  value="rectum"
                />
                <label class="form-check-label" for="cb_ti_r">Rectum</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_ti cb_ti_t4 cb_ti_p"
                  type="checkbox"
                  id="cb_ti_sc"
                  value="sigmoid colon"
                />
                <label class="form-check-label" for="cb_ti_sc"
                  >Sigmoid colon</label
                >
              </div>
              <div class="flex items-center max-w-md mb-2">
                <div
                  class="flex items-center h-10 px-3 bg-gray-100 dark:bg-gray-800 border border-gray-300 dark:border-gray-600 rounded-l-md"
                >
                  <input
                    type="checkbox"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 cb_ti cb_ti_t4"
                    aria-label="Checkbox for other tumor invasion"
                    id="cb_ti_others"
                    value=""
                  />
                  <span class="ml-2 text-sm text-gray-700 dark:text-gray-300"
                    >Others (beyond the true pelvis)</span
                  >
                </div>
                <input
                  type="text"
                  class="h-10 flex-1 min-w-0 bg-white dark:bg-gray-700 border border-l-0 border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white text-sm rounded-r-md focus:ring-blue-500 focus:border-blue-500 p-2.5"
                  aria-label="Text input with checkbox for other tumor invasion"
                  id="txt_ti_others"
                />
              </div>
            </form>
          </div>

          <!-- second column -->
          <div class="col">
            <!-- Regional Lymph Node -->
            <h2
              class="text-lg font-bold mb-3 text-gray-800 dark:text-gray-200 border-l-4 border-blue-500 pl-2"
            >
              Regional Lymph Node
            </h2>
            <form class="form-inline">
              <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label lb_rn has_parts" for="cb_rn_pc"
                  >Paracervical</label
                >
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_rn cb_rn_pc"
                  type="checkbox"
                  id="cb_rn_rpc"
                  value="right"
                />
                <label class="form-check-label" for="cb_rn_rpc">right</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_rn cb_rn_pc"
                  type="checkbox"
                  id="cb_rn_lpc"
                  value="left"
                />
                <label class="form-check-label" for="cb_rn_lpc">left</label>
              </div>
            </form>
            <form class="form-inline">
              <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label lb_rn has_parts" for="cb_rn_pm"
                  >Parametrial</label
                >
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_rn cb_rn_pm"
                  type="checkbox"
                  id="cb_rn_rpm"
                  value="right"
                />
                <label class="form-check-label" for="cb_rn_rpm">right</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_rn cb_rn_pm"
                  type="checkbox"
                  id="cb_rn_lpm"
                  value="left"
                />
                <label class="form-check-label" for="cb_rn_lpm">left</label>
              </div>
            </form>
            <form class="form-inline">
              <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label lb_rn has_parts" for="cb_rn_o"
                  >Obturator</label
                >
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_rn cb_rn_o"
                  type="checkbox"
                  id="cb_rn_ro"
                  value="right"
                />
                <label class="form-check-label" for="cb_rn_ro">right</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_rn cb_rn_o"
                  type="checkbox"
                  id="cb_rn_lo"
                  value="left"
                />
                <label class="form-check-label" for="cb_rn_lo">left</label>
              </div>
            </form>
            <form class="form-inline">
              <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label lb_rn has_parts" for="cb_rn_i"
                  >Inguinal</label
                >
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_rn cb_rn_i"
                  type="checkbox"
                  id="cb_rn_ri"
                  value="right"
                />
                <label class="form-check-label" for="cb_rn_ri">right</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_rn cb_rn_i"
                  type="checkbox"
                  id="cb_rn_li"
                  value="left"
                />
                <label class="form-check-label" for="cb_rn_li">left</label>
              </div>
            </form>
            <form class="form-inline">
              <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label lb_rn has_parts" for="cb_rn_ii"
                  >Internal iliac</label
                >
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_rn cb_rn_ii"
                  type="checkbox"
                  id="cb_rn_rii"
                  value="right"
                />
                <label class="form-check-label" for="cb_rn_rii">right</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_rn cb_rn_ii"
                  type="checkbox"
                  id="cb_rn_lii"
                  value="left"
                />
                <label class="form-check-label" for="cb_rn_lii">left</label>
              </div>
            </form>
            <form class="form-inline">
              <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label lb_rn has_parts" for="cb_rn_ei"
                  >External iliac</label
                >
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_rn cb_rn_ei"
                  type="checkbox"
                  id="cb_rn_rei"
                  value="right"
                />
                <label class="form-check-label" for="cb_rn_rei">right</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_rn cb_rn_ei"
                  type="checkbox"
                  id="cb_rn_lei"
                  value="left"
                />
                <label class="form-check-label" for="cb_rn_lei">left</label>
              </div>
            </form>
            <form class="form-inline">
              <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label lb_rn has_parts" for="cb_rn_ci"
                  >Common iliac</label
                >
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_rn cb_rn_ci"
                  type="checkbox"
                  id="cb_rn_rci"
                  value="right"
                />
                <label class="form-check-label" for="cb_rn_rci">right</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_rn cb_rn_ci"
                  type="checkbox"
                  id="cb_rn_lci"
                  value="left"
                />
                <label class="form-check-label" for="cb_rn_lci">left</label>
              </div>
            </form>
            <form class="form-inline">
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_rn"
                  type="checkbox"
                  id="cb_rn_s"
                  value="sacral"
                />
                <label class="form-check-label lb_rn" for="cb_rn_s"
                  >Sacral</label
                >
              </div>
            </form>
            <form class="form-inline">
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_rn cb_rn_n2"
                  type="checkbox"
                  id="cb_rn_pa"
                  value="paraaortic"
                />
                <label class="form-check-label lb_rn" for="cb_rn_pa">
                  Paraaortic
                  <small class="text-muted"> (N2) </small>
                </label>
              </div>
            </form>

            <!-- Distant Metastasis -->
            <h2 class="h4 mt-4">Distant Metastasis</h2>
            <form class="">
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_dm"
                  type="checkbox"
                  id="cb_dm_lu"
                  value="lung"
                />
                <label class="form-check-label" for="cb_dm_lu">Lung</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_dm"
                  type="checkbox"
                  id="cb_dm_li"
                  value="liver"
                />
                <label class="form-check-label" for="cb_dm_li">Liver</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_dm"
                  type="checkbox"
                  id="cb_dm_ad"
                  value="adrenal"
                />
                <label class="form-check-label" for="cb_dm_ad">Adrenal</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_dm"
                  type="checkbox"
                  id="cb_dm_b"
                  value="bone"
                />
                <label class="form-check-label" for="cb_dm_b">Bone</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_dm"
                  type="checkbox"
                  id="cb_dm_pt"
                  value="peritoneum"
                />
                <label class="form-check-label" for="cb_dm_pt"
                  >Peritoneum</label
                >
              </div>
              <div class="flex items-center max-w-md mb-2">
                <div
                  class="flex items-center h-10 px-3 bg-gray-100 dark:bg-gray-800 border border-gray-300 dark:border-gray-600 rounded-l-md"
                >
                  <input
                    type="checkbox"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 cb_dm"
                    aria-label="Checkbox for other distant metastasis"
                    id="cb_dm_others"
                    value=""
                  />
                  <span class="ml-2 text-sm text-gray-700 dark:text-gray-300"
                    >Others</span
                  >
                </div>
                <input
                  type="text"
                  class="h-10 flex-1 min-w-0 bg-white dark:bg-gray-700 border border-l-0 border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white text-sm rounded-r-md focus:ring-blue-500 focus:border-blue-500 p-2.5"
                  aria-label="Text input with checkbox for other distant metastasis"
                  id="txt_dm_others"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>

    <!-- AJCC Definitions Modal -->
    <%= require('../partials/ajcc_modal.html').default %>

    <!-- Report Modal -->
    <%= require('../partials/report_modal.html').default %>

    <!-- About Modal -->
    <%= require('../partials/about_modal.html').default %>

    <!-- Vendors: jquery, bootstrap, clipboard.js -->
    <%= require('../partials/vendors_js.html').default %>
  </body>
</html>
