<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Structured report for hypopharyngeal cancer staging">
  <meta name="author" content="I-Ta Tsai">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Structure Report for Hypopharyngeal Cancer Staging</title>

  <!-- For IE 6/7/8 Responsive -->
  <!--[if lt IE 9]>
      <script src="js/respond.min.js"></script>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

  <!-- Google Analytics -->
<%= require('html-loader!../partials/google_analytics.html').default %>

  <!-- Vendors: jquery, bootstrap, clipboard.js -->
<%= require('html-loader!../partials/vendors_css.html').default %>
</head>

<body>

<%= require('html-loader!../partials/nav.html').default %>

  <div class="container-fluid">
    <div class="row">
<%= require('html-loader!../partials/sidebar.html').default %>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h3">Hypopharyngeal Cancer Staging Form</h1>

<%= require('html-loader!../partials/toolbar_buttons.html').default %>
        </div>

        <div class="row">
          <!-- first column -->
          <div class="col">
            <!-- Tumor Size -->
            <h2 class="h4">Tumor Size</h2>
            <form>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input" type="checkbox" id="cb_ts_nm" value="1">
                <label class="form-check-label" for="cb_ts_nm">Not assessable (Tx)</label>
                <div class="valid-tooltip">
                  Or, check Non-measurable.
                </div>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input" type="checkbox" id="cb_ts_no" value="1">
                <label class="form-check-label" for="cb_ts_no">No evidence of primary tumor (T0)</label>
                <div class="valid-tooltip">
                  Or, check Non-measurable.
                </div>
              </div>
            </form>
            <form class="needs-validation form-inline" id="form_tumor_size" novalidate>
              <div class="input-group input-group-sm mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">Size</span>
                </div>
                <input type="number" pattern="[0-9]+([\,|\.][0-9]+)?" step="0.1" class="form-control"
                  aria-label="Largest diameter in cm" id="txt_ts_len" placeholder="Largest diameter" required>
                <div class="input-group-append">
                  <span class="input-group-text">cm</span>
                </div>
              </div>
              <div class="input-group input-group-sm mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">Thickness</span>
                </div>
                <input type="number" pattern="[0-9]+([\,|\.][0-9]+)?" step="0.1" class="form-control"
                  aria-label="Maximum thickness in cm" id="txt_ts_thick" placeholder="" required>
                <div class="input-group-append">
                  <span class="input-group-text">cm</span>
                </div>
              </div>
            </form>

            <!-- Tumor Location -->
            <h2 class="h4 mt-4">Tumor Location (subsites)
              <small class="text-muted">
                (T1: 1 subsite; T2: >1 subsite)
              </small>
            </h2>
            <form class="form-inline">
              <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label" for="cb_tl_ps">Pyriform sinus</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_tl cb_tl_r" type="checkbox" id="cb_tl_rps" value="right pyriform sinus">
                <label class="form-check-label" for="cb_tl_rps">right</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_tl cb_tl_l" type="checkbox" id="cb_tl_lps" value="left pyriform sinus">
                <label class="form-check-label" for="cb_tl_lps">left</label>
              </div>
            </form>
            <form class="form-inline">
              <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label" for="cb_tl_ps">Postcricoid region</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_tl cb_tl_r" type="checkbox" id="cb_tl_rpcr" value="right postcricoid region">
                <label class="form-check-label" for="cb_tl_rpcr">right</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_tl cb_tl_l" type="checkbox" id="cb_tl_lpcr" value="left postcricoid region">
                <label class="form-check-label" for="cb_tl_lpcr">left</label>
              </div>
            </form>
            <form class="form-inline">
              <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label" for="cb_tl_ps">Posterior pharyngeal wall</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_tl cb_tl_r" type="checkbox" id="cb_tl_rppw" value="right posterior pharyngeal wall">
                <label class="form-check-label" for="cb_tl_rppw">right</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_tl cb_tl_l" type="checkbox" id="cb_tl_lppw" value="left posterior pharyngeal wall">
                <label class="form-check-label" for="cb_tl_lppw">left</label>
              </div>
            </form>
            <form class="needs-validation" id="form_tumor_location" novalidate>
              <div class="input-group input-group-sm col-10 pl-0 mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" class="cb_tl" aria-label="Checkbox for other tumor locations"
                      id="cb_tl_others" value="">
                  </div>
                  <span class="input-group-text">Others</span>
                </div>
                <input type="text" class="form-control" aria-label="Text input with checkbox for other tumor locations"
                  id="txt_tl_others">
              </div>
            </form>

            <!-- Tumor Invasion -->
            <h2 class="h4 mt-4">Tumor Invasion</h2>
            <div class="row">
              <div class="col t_sidebar">
                T3
              </div>
              <div class="col">
            <div class="form-check form-check-inline mb-2 mr-sm-2">
              <input class="form-check-input cb_ti cb_ti_t3" type="checkbox" id="cb_ti_foh"
                value="fixation of hemilarynx">
              <label class="form-check-label" for="cb_ti_foh">Fixation of hemilarynx</label>
            </div>
            <div class="form-check form-check-inline mb-2 mr-sm-2">
              <input class="form-check-input cb_ti cb_ti_t3" type="checkbox" id="cb_ti_eoem"
                value="extension to esophageal mucosa">
              <label class="form-check-label" for="cb_ti_eoem">Extension to esophageal mucosa</label>
            </div>
              </div>
            </div>

            <div class="row">
              <div class="col t_sidebar">
                T4a
              </div>
              <div class="col">
            <div class="form-check form-check-inline mb-2 mr-sm-2">
              <input class="form-check-input cb_ti cb_ti_t4a" type="checkbox" id="cb_ti_tc"
                value="thyroid cartilage">
              <label class="form-check-label" for="cb_ti_tc">Thyroid cartilage</label>
            </div>
            <div class="form-check form-check-inline mb-2 mr-sm-2">
              <input class="form-check-input cb_ti cb_ti_t4a" type="checkbox" id="cb_ti_cc"
                value="cricoid cartilage">
              <label class="form-check-label" for="cb_ti_cc">Cricoid cartilage</label>
            </div>
            <div class="form-check form-check-inline mb-2 mr-sm-2">
              <input class="form-check-input cb_ti cb_ti_t4a" type="checkbox" id="cb_ti_hb"
                value="hyoid bone">
              <label class="form-check-label" for="cb_ti_hb">Hyoid bone</label>
            </div>
            <div class="form-check form-check-inline mb-2 mr-sm-2">
              <input class="form-check-input cb_ti cb_ti_t4a" type="checkbox" id="cb_ti_tg"
                value="thyroid gland">
              <label class="form-check-label" for="cb_ti_tg">Thyroid gland</label>
            </div>
            <div class="form-check form-check-inline mb-2 mr-sm-2">
              <input class="form-check-input cb_ti cb_ti_t4a" type="checkbox" id="cb_ti_em"
                value="esophageal muscle">
              <label class="form-check-label" for="cb_ti_em">Esophageal muscle</label>
            </div>
            <div class="form-check form-check-inline mb-2 mr-sm-2">
              <input class="form-check-input cb_ti cb_ti_t4a" type="checkbox" id="cb_ti_ccst"
                value="central compartment soft tissue (prelaryngeal strap muscles and subcutaneous fat)">
              <label class="form-check-label" for="cb_ti_ccst">Central compartment soft tissue (prelaryngeal strap muscles and subcutaneous fat)</label>
            </div>
              </div>
            </div>

            <div class="row">
              <div class="col t_sidebar">
                T4b
              </div>
              <div class="col">
            <div class="form-check form-check-inline mb-2 mr-sm-2">
              <input class="form-check-input cb_ti cb_ti_t4b" type="checkbox" id="cb_ti_pvf"
                value="prevertebral fascia">
              <label class="form-check-label" for="cb_ti_pvf">Prevertebral fascia</label>
            </div>
            <div class="form-check form-check-inline mb-2 mr-sm-2">
              <input class="form-check-input cb_ti cb_ti_t4b" type="checkbox" id="cb_ti_eca"
                value="encasement of carotid artery">
              <label class="form-check-label" for="cb_ti_eca">Encasement of carotid artery</label>
            </div>
            <div class="form-check form-check-inline mb-2 mr-sm-2">
              <input class="form-check-input cb_ti cb_ti_t4b" type="checkbox" id="cb_ti_ms" value="mediastinal structures">
              <label class="form-check-label" for="cb_ti_ms">Mediastinal structures</label>
            </div>
            <div class="input-group input-group-sm col-10 pl-0 mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" class="cb_ti" aria-label="Checkbox for other tumor invasion"
                    id="cb_ti_others" value="">
                </div>
                <span class="input-group-text">Others</span>
              </div>
              <input type="text" class="form-control"
                aria-label="Text input with checkbox for other tumor invasion" id="txt_ti_others">
            </div>
              </div>
            </div>
          </div>

          <!-- second column -->
          <div class="col">
            <!-- Regional Lymph Node -->
            <h2 class="h4">Regional Lymph Node</h2>
            <h3 class="h5 mt-2">Locations</h3>
            <div class="row">
              <div class="col n_sidebar">
                <label class="lb_rn has_parts" for="cb_rn_r">Right</label>
              </div>
              <div class="col">
            <form class="form-inline rn_item">
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_r cb_rn_r_nrp" type="checkbox" id="cb_rn_r_1" value="I">
                <label class="form-check-label" for="cb_rn_r_1">I</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_r cb_rn_r_nrp" type="checkbox" id="cb_rn_r_2" value="II">
                <label class="form-check-label" for="cb_rn_r_2">II</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_r cb_rn_r_nrp" type="checkbox" id="cb_rn_r_3" value="III">
                <label class="form-check-label" for="cb_rn_r_3">III</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_r cb_rn_r_nrp cb_rn_n3" type="checkbox" id="cb_rn_r_4" value="IV">
                <label class="form-check-label" for="cb_rn_r_4">IV</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_r cb_rn_r_nrp" type="checkbox" id="cb_rn_r_5" value="V">
                <label class="form-check-label" for="cb_rn_r_5">V</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_r cb_rn_r_nrp" type="checkbox" id="cb_rn_r_6" value="VI">
                <label class="form-check-label" for="cb_rn_r_6">VI</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_r cb_rn_r_nrp cb_rn_n3" type="checkbox" id="cb_rn_r_7" value="VII">
                <label class="form-check-label" for="cb_rn_r_7">VII</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_r cb_rn_r_nrp" type="checkbox" id="cb_rn_r_f" value="facial">
                <label class="form-check-label" for="cb_rn_r_f">facial</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_r cb_rn_r_nrp" type="checkbox" id="cb_rn_r_pp" value="parapharyngeal">
                <label class="form-check-label" for="cb_rn_r_pp">parapharyngeal</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_r cb_rn_r_nrp" type="checkbox" id="cb_rn_r_p" value="parotid">
                <label class="form-check-label" for="cb_rn_r_p">parotid</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_r cb_rn_r_nrp" type="checkbox" id="cb_rn_r_so" value="suboccipital">
                <label class="form-check-label" for="cb_rn_r_so">suboccipital</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_r cb_rn_r_nrp" type="checkbox" id="cb_rn_r_ra" value="retroauricular">
                <label class="form-check-label" for="cb_rn_r_ra">retroauricular</label>
              </div>
            </form>
              </div>
            </div>
            <div class="row">
              <div class="col n_sidebar">
                <label class="lb_rn has_parts" for="cb_rn_l">Left</label>
              </div>
              <div class="col">
            <form class="form-inline rn_item">
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_l cb_rn_l_nrp" type="checkbox" id="cb_rn_l_1" value="I">
                <label class="form-check-label" for="cb_rn_l_1">I</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_l cb_rn_l_nrp" type="checkbox" id="cb_rn_l_2" value="II">
                <label class="form-check-label" for="cb_rn_l_2">II</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_l cb_rn_l_nrp" type="checkbox" id="cb_rn_l_3" value="III">
                <label class="form-check-label" for="cb_rn_l_3">III</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_l cb_rn_l_nrp cb_rn_n3" type="checkbox" id="cb_rn_l_4" value="IV">
                <label class="form-check-label" for="cb_rn_l_4">IV</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_l cb_rn_l_nrp" type="checkbox" id="cb_rn_l_5" value="V">
                <label class="form-check-label" for="cb_rn_l_5">V</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_l cb_rn_l_nrp" type="checkbox" id="cb_rn_l_6" value="VI">
                <label class="form-check-label" for="cb_rn_l_6">VI</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_l cb_rn_l_nrp cb_rn_n3" type="checkbox" id="cb_rn_l_7" value="VII">
                <label class="form-check-label" for="cb_rn_l_7">VII</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_l cb_rn_l_nrp" type="checkbox" id="cb_rn_l_f" value="facial">
                <label class="form-check-label" for="cb_rn_l_f">facial</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_l cb_rn_l_nrp" type="checkbox" id="cb_rn_l_pp" value="parapharyngeal">
                <label class="form-check-label" for="cb_rn_l_pp">parapharyngeal</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_l cb_rn_l_nrp" type="checkbox" id="cb_rn_l_p" value="parotid">
                <label class="form-check-label" for="cb_rn_l_p">parotid</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_l cb_rn_l_nrp" type="checkbox" id="cb_rn_l_so" value="suboccipital">
                <label class="form-check-label" for="cb_rn_l_so">suboccipital</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_l cb_rn_l_nrp" type="checkbox" id="cb_rn_l_ra" value="retroauricular">
                <label class="form-check-label" for="cb_rn_l_ra">retroauricular</label>
              </div>
            </form>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
            <div class="input-group input-group-sm mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <span class="input-group-text">Maximum size</span>
              </div>
              <input type="number" pattern="[0-9]+([\,|\.][0-9]+)?" step="0.1" class="form-control"
                aria-label="Maximum size of the largest positive node" id="txt_rn_len"
                placeholder="of the largest positive node" required>
              <div class="input-group-append">
                <span class="input-group-text">cm</span>
              </div>
              <div class="invalid-tooltip">
                Please enter a number.
              </div>
            </div>
            <div class="form-check mb-2 mr-sm-2">
              <input class="form-check-input cb_rn_oth" type="checkbox" id="cb_rn_ene"
                value="extranodal extension (ENE)">
              <label class="form-check-label" for="cb_rn_ene">Extranodal extension (ENE)</label>
            </div>
            <div class="form-check mb-2 mr-sm-2">
              <input class="form-check-input cb_rn_oth" type="checkbox" id="cb_rn_sin"
                value="single lymphadenopathy">
              <label class="form-check-label" for="cb_rn_sin">Single lymphadenopathy <small class="text-muted">(N1 or N2a)</small></label>
            </div>
              </div>
            </div>

            <!-- Distant Metastasis -->
            <h2 class="h4 mt-4">Distant Metastasis</h2>
            <form class="">
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_dm cb_dm_m1ab" type="checkbox" id="cb_dm_lu" value="lung">
                <label class="form-check-label" for="cb_dm_lu">Lung</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_dm cb_dm_m1ab" type="checkbox" id="cb_dm_b" value="bone">
                <label class="form-check-label" for="cb_dm_b">Bone</label>
              </div>
              <div class="input-group input-group-sm col-10 pl-0 mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" class="cb_dm cb_dm_m1ab" aria-label="Checkbox for other distant metastasis"
                      id="cb_dm_others" value="">
                  </div>
                  <span class="input-group-text">Others</span>
                </div>
                <input type="text" class="form-control"
                  aria-label="Text input with checkbox for other distant metastasis" id="txt_dm_others">
              </div>
            </form>

            <!-- Imaging Modality -->
            <h2 class="h4 mt-4">Imaging Modality</h2>
            <form class="">
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input" type="radio" name="protocol_radios" id="radio_ct" value="ct">
                <label class="form-check-label" for="radio_ct">CT</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input" type="radio" name="protocol_radios" id="radio_mr" value="mr" checked>
                <label class="form-check-label" for="radio_mr">MRI</label>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>
  </div>

  <!-- AJCC Definitions Modal -->
<%= require('html-loader!../partials/ajcc_modal.html').default %>

  <!-- Report Modal -->
<%= require('html-loader!../partials/report_modal.html').default %>

  <!-- About Modal -->
<%= require('html-loader!../partials/about_modal.html').default %>

  <!-- Vendors: jquery, bootstrap, clipboard.js -->
<%= require('html-loader!../partials/vendors_js.html').default %>
</body>

</html>

