<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Structured report for AJCC8 cancer staging">
  <meta name="author" content="I-Ta Tsai">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Structure Report for AJCC Cancer Staging</title>

  <!-- For IE 6/7/8 Responsive -->
  <!--[if lt IE 9]>
      <script src="js/respond.min.js"></script>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

  <!-- Google Analytics -->
<%= require('html-loader!../partials/google_analytics.html').default %>

  <!-- Vendors: jquery, bootstrap, clipboard.js -->
<%= require('html-loader!../partials/vendors_css.html').default %>
</head>

<body>

<%= require('html-loader!../partials/nav.html').default %>

  <div class="container-fluid">
    <div class="row">
<%= require('html-loader!../partials/sidebar.html').default %>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h3">Structure Report of AJCC Cancer Staging Form</h1>

          <!--
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Clear</button>
              <button type="button" id="btn_copy" class="btn btn-sm btn-outline-primary">Show &amp; Copy</button>
            </div>
          </div>
          <div class="d-flex flex-row justify-content-end mt-5">
            <a href="" class="btn btn-info w-200 mr-2">Clear</a>
            <button type="button" id="btn_copy" class="btn btn-primary" data-clipboard-target="#reportModalBody">
              Show &amp; Copy
            </button>
          </div>
          -->
        </div>

        <div class="row">
          <div class="col">
            <p>網頁版的 cancer staging form</p>
            <h2 class="h5">特色</h2>
            <ol>
              <li>綜合<a href="https://www.rsroc.org.tw/news/news_detail.asp?news_id=761">放射線醫學會建議 20 項癌症（additional 版）</a>之格式及 AJCC Cancer Staging Form Supplement 修改而成</li>
              <li>在填寫完畢後連動產生正確的 TNM staging</li>
              <li>可在各癌的頁面內列出完整 staging criteria</li>
            </ol>
            <h2 class="h5 mt-4">使用方法</h2>
            <p>建議使用桌面瀏覽器，且螢幕解析度寬度大於 760 px</p>
            <p>勾選填寫完畢後，點下畫面右上角的 "Show &amp; Copy" 可以預覽，且會將內文複製到剪貼簿裡，再貼入 RIS 中</p>
            <h2 class="h5 mt-4">備註</h2>
            <ol>
              <li>暫不含 Larynx, Pancreas, GIST, RCC, Osteogenic sarcoma 這五癌</li>
              <li>最底下的部分參考亞東醫院制式的 staging 表格</li>
              <li>Cholangiocarcinoma 再分出 intrahepatic, perihilar, 及 distal bile duct 三項</li>
              <li>Cervical cancer 已更新為 AJCC 第 9 版</li>
              <li>Gastric cancer 的 tumor invasion depth 增加對應 T3 的選項 (Tumor confined in the gastric wall, but with perigastric micronodules or dense, band-like stranding)</li>
            </ol>
          </div>
        </div>
      </main>
    </div>
  </div>

  <!-- Report Modal -->
<%= require('html-loader!../partials/report_modal.html').default %>

  <!-- About Modal -->
<%= require('html-loader!../partials/about_modal.html').default %>

  <!-- Vendors: jquery, bootstrap, clipboard.js -->
<%= require('html-loader!../partials/vendors_js.html').default %>
</body>

</html>