<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Structured report for prostate cancer staging"
    />
    <meta name="author" content="I-Ta Tsai" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Structure Report for Prostate Cancer Staging</title>

    <!-- For IE 6/7/8 Responsive -->
    <!--[if lt IE 9]>
      <script src="js/respond.min.js"></script>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Google Analytics -->
    <%= require('../partials/google_analytics.html').default %>

    <!-- Vendors: jquery, bootstrap, clipboard.js -->
    <%= require('../partials/vendors_css.html').default %>
  </head>

  <body
    class="bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 transition-colors duration-200"
  >
    <%= require('../partials/nav.html').default %> <%=
    require('../partials/sidebar.html').default %>

    <main
      role="main"
      class="md:ml-48 lg:ml-56 pt-12 min-h-screen bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 transition-colors duration-200"
    >
      <div class="p-6 max-w-7xl mx-auto">
        <div
          class="flex justify-between items-center pb-4 mb-4 border-b border-gray-200 dark:border-gray-700"
        >
          <h1 class="text-2xl font-bold flex items-center gap-2">
            Prostate Cancer Staging Form
            <span class="badge badge-secondary ml-2">AJCC 8th</span>
          </h1>

          <%= require('../partials/toolbar_buttons.html').default %>
        </div>

        <div class="row">
          <div class="col">
            <!-- Imaging Modality -->
            <h2
              class="text-lg font-bold mb-3 text-gray-800 dark:text-gray-200 border-l-4 border-blue-500 pl-2"
            >
              Imaging Modality
            </h2>
            <form class="">
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input
                  class="form-check-input"
                  type="radio"
                  name="protocol_radios"
                  id="radio_ct"
                  value="ct"
                />
                <label class="form-check-label" for="radio_ct">CT</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input
                  class="form-check-input"
                  type="radio"
                  name="protocol_radios"
                  id="radio_mr"
                  value="mr"
                  checked
                />
                <label class="form-check-label" for="radio_mr">MRI</label>
              </div>
            </form>

            <!-- Tumor Location -->
            <h2 class="h4 mt-4">Tumor Location</h2>
            <form class="">
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="cb_tl_na"
                  value=""
                />
                <label class="form-check-label" for="cb_tl_na"
                  >Not assessable</label
                >
              </div>
            </form>
            <form class="needs-validation" id="form_tumor_location" novalidate>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_tl"
                  type="checkbox"
                  id="cb_tl_r"
                  value="right lobe"
                />
                <label class="form-check-label" for="cb_tl_r">Right lobe</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_tl"
                  type="checkbox"
                  id="cb_tl_l"
                  value="left lobe"
                />
                <label class="form-check-label" for="cb_tl_l">Left lobe</label>
              </div>
            </form>

            <!-- Tumor Size -->
            <h2 class="h4 mt-4">Tumor Size</h2>
            <form class="needs-validation" id="form_tumor_size" novalidate>
              <div class="row">
                <div class="col">
                  <div class="flex items-center max-w-xs mb-2">
                    <input
                      type="number"
                      pattern="[0-9]+([\,|\.][0-9]+)?"
                      step="0.1"
                      class="h-10 bg-white dark:bg-gray-700 border border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white text-sm rounded-l-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                      aria-label="Largest diameter of the biggest tumor"
                      id="txt_ts_len"
                      placeholder="Largest diameter of the biggest tumor"
                      required
                    />
                    <div
                      class="h-10 inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-l-0 border-gray-300 rounded-r-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
                    >
                      cm
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <!-- Tumor Invasion -->
            <h2 class="h4 mt-4">Tumor Invasion</h2>
            <div class="row">
              <div class="col">
                <form class="">
                  <fieldset class="form-group">
                    <div class="row">
                      <legend class="col-form-label col-sm-2 pt-0">
                        Prostate
                      </legend>
                      <div class="col-sm-10">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="rb_ti_p"
                            id="rb_ti_loh"
                            value="One-half of one lobe or less"
                          />
                          <label class="form-check-label" for="rb_ti_loh"
                            >One-half of one lobe or less</label
                          >
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="rb_ti_p"
                            id="rb_ti_moh"
                            value="More than one-half of one lobe but not both lobes"
                          />
                          <label class="form-check-label" for="rb_ti_moh"
                            >More than one-half of one lobe but not both
                            lobes</label
                          >
                        </div>
                        <div class="form-check disabled">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="rb_ti_p"
                            id="rb_ti_bl"
                            value="Involves both lobes"
                          />
                          <label class="form-check-label" for="rb_ti_bl"
                            >Involves both lobes</label
                          >
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </form>
                <form class="form-inline ti_item">
                  <div class="form-check mb-2 mr-sm-2">
                    <label class="form-check-label cb_ti_title" for=""
                      >Extracapsular extension</label
                    >
                  </div>
                  <div class="form-check mb-2 mr-sm-2">
                    <input
                      class="form-check-input cb_ti cb_ti_t3a"
                      type="checkbox"
                      id="cb_ti_ecr"
                      value="right"
                    />
                    <label class="form-check-label" for="cb_ti_ecr"
                      >right</label
                    >
                  </div>
                  <div class="form-check mb-2 mr-sm-2">
                    <input
                      class="form-check-input cb_ti cb_ti_t3a"
                      type="checkbox"
                      id="cb_ti_ecl"
                      value="left"
                    />
                    <label class="form-check-label" for="cb_ti_ecl">left</label>
                  </div>
                </form>
                <form class="form-inline ti_item">
                  <div class="form-check mb-2 mr-sm-2">
                    <label class="form-check-label cb_ti_title" for=""
                      >Seminal vesicle</label
                    >
                  </div>
                  <div class="form-check mb-2 mr-sm-2">
                    <input
                      class="form-check-input cb_ti cb_ti_t3b"
                      type="checkbox"
                      id="cb_ti_svr"
                      value="right"
                    />
                    <label class="form-check-label" for="cb_ti_svr"
                      >right</label
                    >
                  </div>
                  <div class="form-check mb-2 mr-sm-2">
                    <input
                      class="form-check-input cb_ti cb_ti_t3b"
                      type="checkbox"
                      id="cb_ti_svl"
                      value="left"
                    />
                    <label class="form-check-label" for="cb_ti_svl">left</label>
                  </div>
                </form>
                <form class="form-inline ti_item">
                  <div class="form-check mb-2 mr-sm-2">
                    <label class="form-check-label cb_ti_title" for=""
                      >Pelvic sidewall</label
                    >
                  </div>
                  <div class="form-check mb-2 mr-sm-2">
                    <input
                      class="form-check-input cb_ti cb_ti_t4"
                      type="checkbox"
                      id="cb_ti_psr"
                      value="right"
                    />
                    <label class="form-check-label" for="cb_ti_psr"
                      >right</label
                    >
                  </div>
                  <div class="form-check mb-2 mr-sm-2">
                    <input
                      class="form-check-input cb_ti cb_ti_t4"
                      type="checkbox"
                      id="cb_ti_psl"
                      value="left"
                    />
                    <label class="form-check-label" for="cb_ti_psl">left</label>
                  </div>
                </form>
                <form class="form-inline">
                  <div class="form-check mb-2 mr-sm-2">
                    <label class="form-check-label cb_ti_title" for=""
                      >Pelvic organs</label
                    >
                  </div>
                  <div class="form-check mb-2 mr-sm-2">
                    <input
                      class="form-check-input cb_ti cb_ti_t4 cb_ti_po"
                      type="checkbox"
                      id="cb_ti_ub"
                      value="urinary bladder"
                    />
                    <label class="form-check-label" for="cb_ti_ub"
                      >Bladder</label
                    >
                  </div>
                  <div class="form-check mb-2 mr-sm-2">
                    <input
                      class="form-check-input cb_ti cb_ti_t4 cb_ti_po"
                      type="checkbox"
                      id="cb_ti_rec"
                      value="rectum"
                    />
                    <label class="form-check-label" for="cb_ti_rec"
                      >Rectum</label
                    >
                  </div>
                  <div class="form-check mb-2 mr-sm-2">
                    <input
                      class="form-check-input cb_ti cb_ti_t4 cb_ti_po"
                      type="checkbox"
                      id="cb_ti_es"
                      value="external sphincter"
                    />
                    <label class="form-check-label" for="cb_ti_es"
                      >External sphincter</label
                    >
                  </div>
                  <div class="form-check mb-2 mr-sm-2">
                    <input
                      class="form-check-input cb_ti cb_ti_t4 cb_ti_po"
                      type="checkbox"
                      id="cb_ti_lm"
                      value="levator muscles"
                    />
                    <label class="form-check-label" for="cb_ti_lm"
                      >Levator muscles</label
                    >
                  </div>
                  <div class="flex items-center max-w-md mb-2">
                    <div
                      class="flex items-center h-10 px-3 bg-gray-100 dark:bg-gray-800 border border-gray-300 dark:border-gray-600 rounded-l-md"
                    >
                      <input
                        type="checkbox"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 cb_tl cb_ti_t4"
                        aria-label="Checkbox for other tumor invasion"
                        id="cb_ti_others"
                        value=""
                      />
                      <span
                        class="ml-2 text-sm text-gray-700 dark:text-gray-300"
                        >Others</span
                      >
                    </div>
                    <input
                      type="text"
                      class="h-10 flex-1 min-w-0 bg-white dark:bg-gray-700 border border-l-0 border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white text-sm rounded-r-md focus:ring-blue-500 focus:border-blue-500 p-2.5"
                      aria-label="Text input with checkbox for other tumor invasion"
                      id="txt_ti_others"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- second column -->
          <div class="col">
            <!-- Regional Lymph Node -->
            <h2
              class="text-lg font-bold mb-3 text-gray-800 dark:text-gray-200 border-l-4 border-blue-500 pl-2"
            >
              Regional Lymph Node
            </h2>
            <h3
              class="text-md font-semibold mb-2 text-gray-700 dark:text-gray-300 mt-2"
            >
              Locations
            </h3>
            <form class="form-inline">
              <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label lb_rn has_parts" for="cb_rn_ob"
                  >Obturator</label
                >
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_rn cb_rn_ob"
                  type="checkbox"
                  id="cb_rn_ro"
                  value="right"
                />
                <label class="form-check-label" for="cb_rn_ro">right</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_rn cb_rn_ob"
                  type="checkbox"
                  id="cb_rn_lo"
                  value="left"
                />
                <label class="form-check-label" for="cb_rn_lo">left</label>
              </div>
            </form>
            <form class="form-inline">
              <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label lb_rn has_parts" for="cb_rn_ii"
                  >Internal iliac</label
                >
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_rn cb_rn_ii"
                  type="checkbox"
                  id="cb_rn_rii"
                  value="right"
                />
                <label class="form-check-label" for="cb_rn_rii">right</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_rn cb_rn_ii"
                  type="checkbox"
                  id="cb_rn_lii"
                  value="left"
                />
                <label class="form-check-label" for="cb_rn_lii">left</label>
              </div>
            </form>
            <form class="form-inline">
              <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label lb_rn has_parts" for="cb_rn_ei"
                  >External iliac</label
                >
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_rn cb_rn_ei"
                  type="checkbox"
                  id="cb_rn_rei"
                  value="right"
                />
                <label class="form-check-label" for="cb_rn_rei">right</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_rn cb_rn_ei"
                  type="checkbox"
                  id="cb_rn_lei"
                  value="left"
                />
                <label class="form-check-label" for="cb_rn_lei">left</label>
              </div>
            </form>
            <form class="form-inline">
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_rn"
                  type="checkbox"
                  id="cb_rn_s"
                  value="sacral"
                />
                <label class="form-check-label lb_rn" for="cb_rn_s"
                  >Sacral</label
                >
              </div>
            </form>

            <!-- Distant Metastasis -->
            <h2 class="h4 mt-4">Distant Metastasis</h2>
            <h3
              class="text-md font-semibold mb-2 text-gray-700 dark:text-gray-300 mt-2"
            >
              Non-regional lymph node
            </h3>
            <form class="form-inline">
              <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label" for="cb_dm_nrl_ci"
                  >Common iliac</label
                >
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_dm cb_dm_nrl cb_dm_nrl_ci cb_dm_m1a"
                  type="checkbox"
                  id="cb_dm_nrl_ci_r"
                  value="right"
                />
                <label class="form-check-label" for="cb_dm_nrl_ci_r"
                  >right</label
                >
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_dm cb_dm_nrl cb_dm_nrl_ci cb_dm_m1a"
                  type="checkbox"
                  id="cb_dm_nrl_ci_l"
                  value="left"
                />
                <label class="form-check-label" for="cb_dm_nrl_ci_l"
                  >left</label
                >
              </div>
            </form>
            <form class="form-inline">
              <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label" for="cb_dm_nrl_i"
                  >Inguinal</label
                >
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_dm cb_dm_nrl cb_dm_nrl_i cb_dm_m1a"
                  type="checkbox"
                  id="cb_dm_nrl_i_r"
                  value="right"
                />
                <label class="form-check-label" for="cb_dm_nrl_i_r"
                  >right</label
                >
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_dm cb_dm_nrl cb_dm_nrl_i cb_dm_m1a"
                  type="checkbox"
                  id="cb_dm_nrl_i_l"
                  value="left"
                />
                <label class="form-check-label" for="cb_dm_nrl_i_l">left</label>
              </div>
            </form>
            <form class="form-inline">
              <div class="form-check mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_dm cb_dm_nrl cb_dm_m1a"
                  type="checkbox"
                  id="cb_dm_nrl_pa"
                  value="paraaortic"
                />
                <label class="form-check-label" for="cb_dm_nrl_pa"
                  >Paraaortic</label
                >
              </div>
            </form>
            <form class="form-inline">
              <div class="flex items-center max-w-md mb-2">
                <div
                  class="flex items-center h-10 px-3 bg-gray-100 dark:bg-gray-800 border border-gray-300 dark:border-gray-600 rounded-l-md"
                >
                  <input
                    type="checkbox"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 cb_dm cb_dm_nrl cb_dm_m1a"
                    aria-label="Checkbox for other regional lymphadenopathy"
                    id="cb_dm_nrl_others"
                    value=""
                  />
                  <span class="ml-2 text-sm text-gray-700 dark:text-gray-300"
                    >Others</span
                  >
                </div>
                <input
                  type="text"
                  class="h-10 flex-1 min-w-0 bg-white dark:bg-gray-700 border border-l-0 border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white text-sm rounded-r-md focus:ring-blue-500 focus:border-blue-500 p-2.5"
                  aria-label="Text input with checkbox for other regional lymphadenopathy"
                  id="txt_dm_nrl_others"
                />
              </div>
            </form>
            <h3
              class="text-md font-semibold mb-2 text-gray-700 dark:text-gray-300 mt-2"
            >
              Others
            </h3>
            <form class="">
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_dm cb_dm_m1c"
                  type="checkbox"
                  id="cb_dm_li"
                  value="liver"
                />
                <label class="form-check-label" for="cb_dm_li">Liver</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_dm cb_dm_m1c"
                  type="checkbox"
                  id="cb_dm_ad"
                  value="adrenal"
                />
                <label class="form-check-label" for="cb_dm_ad">Adrenal</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_dm cb_dm_m1c"
                  type="checkbox"
                  id="cb_dm_lu"
                  value="lung"
                />
                <label class="form-check-label" for="cb_dm_lu">Lung</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input
                  class="form-check-input cb_dm cb_dm_m1b"
                  type="checkbox"
                  id="cb_dm_b"
                  value="bone"
                />
                <label class="form-check-label" for="cb_dm_b">Bone</label>
              </div>
              <div class="flex items-center max-w-md mb-2">
                <div
                  class="flex items-center h-10 px-3 bg-gray-100 dark:bg-gray-800 border border-gray-300 dark:border-gray-600 rounded-l-md"
                >
                  <input
                    type="checkbox"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 cb_dm cb_dm_m1c"
                    aria-label="Checkbox for other distant metastasis"
                    id="cb_dm_others"
                    value=""
                  />
                  <span class="ml-2 text-sm text-gray-700 dark:text-gray-300"
                    >Others</span
                  >
                </div>
                <input
                  type="text"
                  class="h-10 flex-1 min-w-0 bg-white dark:bg-gray-700 border border-l-0 border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white text-sm rounded-r-md focus:ring-blue-500 focus:border-blue-500 p-2.5"
                  aria-label="Text input with checkbox for other distant metastasis"
                  id="txt_dm_others"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>

    <!-- AJCC Definitions Modal -->
    <%= require('../partials/ajcc_modal.html').default %>

    <!-- Report Modal -->
    <%= require('../partials/report_modal.html').default %>

    <!-- About Modal -->
    <%= require('../partials/about_modal.html').default %>

    <!-- Vendors: jquery, bootstrap, clipboard.js -->
    <%= require('../partials/vendors_js.html').default %>
  </body>
</html>
