  <div class="modal fade" id="aboutModalLong" tabindex="-2" role="dialog" aria-labelledby="aboutModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="aboutModalLongTitle">About This Project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="aboutModalBody" class="modal-body">
          <p>網頁版的 cancer staging form, 特色為：</p>
          <ul>
            <li>綜合放射線醫學會建議 20 項癌症（additional 版）之格式及 AJCC Cancer Staging Form Supplement 修改而成</li>
            <li>在填寫完畢後連動產生正確的 TNM staging</li>
            <li>可在各癌的頁面內列出完整 staging criteria</li>
          </ul>
          <h6 class="h6 mt-4">Author</h6>
          <p><i class="fas fa-at"></i> 蔡依達 / 花蓮慈濟醫院影像醫學部醫師 <a class="text-dark" href="https://www.facebook.com/ittsai"><i
                class="fab fa-facebook-square"></i></a> <a class="text-dark" href="https://twitter.com/tsaiid"><i
                class="fab fa-twitter-square"></i></a></p>
          <h6 class="h6 mt-4">License</h6>
          <p><i class="fas fa-file-contract"></i> MIT</p>
          <h6 class="h6 mt-4">Sources</h6>
          <p><a class="text-dark" href="https://github.com/tsaiid/structured-reporting-web-tools"><i
                class="fab fa-github"></i> Hosted on GitHub</a></p>
          <p>如有疑問，請至 <a class="text-dark" href="https://github.com/tsaiid/structured-reporting-web-tools/issues">GitHub
              Issues</a> 回報。</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>