      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>General</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="djd_l.html">
                <span data-feather="file"></span>
                DJD-L
              </a>
            </li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>AJCC8</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_nasopharynx.html">
                <span data-feather="file-text"></span>
                Nasopharyngeal Carcinoma
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_oral.html">
                <span data-feather="file-text"></span>
                Oral Cavity Carcinoma
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_oropharynx.html">
                <span data-feather="file-text"></span>
                Oropharynx Carcinoma
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_hypopharynx.html">
                <span data-feather="file-text"></span>
                Hypopharynx Carcinoma
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_larynx_supraglottis.html">
                <span data-feather="file-text"></span>
                Larynx: Supraglottis
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_larynx_glottis.html">
                <span data-feather="file-text"></span>
                Larynx: Glottis
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_larynx_subglottis.html">
                <span data-feather="file-text"></span>
                Larynx: Subglottis
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_esophagus.html">
                <span data-feather="file-text"></span>
                Esophageal Carcinoma
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_lung.html">
                <span data-feather="file-text"></span>
                Lung Carcinoma
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_hcc.html">
                <span data-feather="file-text"></span>
                Hepatocellular Carcinoma
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_gastric.html">
                <span data-feather="file-text"></span>
                Gastric Carcinoma
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_pancreas.html">
                <span data-feather="file-text"></span>
                Pancreatic Carcinoma
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_ccc_ibd.html">
                <span data-feather="file-text"></span>
                Cholangiocarcinoma: IBD
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_ccc_pbd.html">
                <span data-feather="file-text"></span>
                Cholangiocarcinoma: PBD
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_ccc_dbd.html">
                <span data-feather="file-text"></span>
                Cholangiocarcinoma: DBD
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_gist.html">
                <span data-feather="file-text"></span>
                Gastrointestinal Stromal Tumor
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_colon.html">
                <span data-feather="file-text"></span>
                Colorectal Carcinoma
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_rcc.html">
                <span data-feather="file-text"></span>
                Renal Cell Carcinoma
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_prostate.html">
                <span data-feather="file-text"></span>
                Prostate Carcinoma
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_ovary.html">
                <span data-feather="file-text"></span>
                Ovarian Carcinoma
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_endometrium.html">
                <span data-feather="file-text"></span>
                Endometrial Carcinoma
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_cervix.html">
                <span data-feather="file-text"></span>
                Cervical Carcinoma
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_urinary_bladder.html">
                <span data-feather="file-text"></span>
                Urinary Bladder Carcinoma
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_ogs_trunk.html">
                <span data-feather="file-text"></span>
                OGS: Appendicular Skeleton, Trunk, Skull and Facial Bones
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_ogs_spine.html">
                <span data-feather="file-text"></span>
                OGS: Spine
              </a>
            </li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>About</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" id="link_about" href="">
                <span data-feather="file"></span>
                This Project
              </a>
            </li>
          </ul>
        </div>
      </nav>

