      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>General</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="djd_l.html">
                <span data-feather="file"></span>
                DJD-L
              </a>
            </li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>AJCC8</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_lung.html">
                <span data-feather="file-text"></span>
                Lung Cancer
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_esophagus.html">
                <span data-feather="file-text"></span>
                Esophageal Cancer
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_colon.html">
                <span data-feather="file-text"></span>
                Colorectal Cancer
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_cervix.html">
                <span data-feather="file-text"></span>
                Cervical Cancer
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_prostate.html">
                <span data-feather="file-text"></span>
                Prostate Cancer
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_nasopharynx.html">
                <span data-feather="file-text"></span>
                Nasopharyngeal Cancer
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_hcc.html">
                <span data-feather="file-text"></span>
                Hepatocellular Carcinoma
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_gastric.html">
                <span data-feather="file-text"></span>
                Gastric Carcinoma
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_pancreas.html">
                <span data-feather="file-text"></span>
                Pancreatic Carcinoma
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_gist.html">
                <span data-feather="file-text"></span>
                Gastrointestinal Stromal Tumor
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_oropharynx.html">
                <span data-feather="file-text"></span>
                Oropharyngeal Carcinoma
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_endometrium.html">
                <span data-feather="file-text"></span>
                Endometrial Carcinoma
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_rcc.html">
                <span data-feather="file-text"></span>
                Renal Cell Carcinoma
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_oral.html">
                <span data-feather="file-text"></span>
                Oral Cavity Carcinoma
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajcc8_hypopharynx.html">
                <span data-feather="file-text"></span>
                Hypopharynx Carcinoma
              </a>
            </li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>About</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" id="link_about" href="">
                <span data-feather="file"></span>
                This Project
              </a>
            </li>
          </ul>
        </div>
      </nav>

