<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Structured report for nasopharyngeal cancer staging">
  <meta name="author" content="I-Ta Tsai">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Structure Report for Oropharyngeal Cancer Staging</title>

  <!-- For IE 6/7/8 Responsive -->
  <!--[if lt IE 9]>
      <script src="js/respond.min.js"></script>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

  <!-- Google Analytics -->
<%= require('html-loader!../partials/google_analytics.html') %>

  <!-- Vendors: jquery, bootstrap, clipboard.js -->
<%= require('html-loader!../partials/vendors_css.html') %>
</head>

<body>

<%= require('html-loader!../partials/nav.html') %>

  <div class="container-fluid">
    <div class="row">
<%= require('html-loader!../partials/sidebar.html') %>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h3">Oropharyngeal Cancer Staging Form</h1>

          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Clear</button>
              <button type="button" id="btn_copy" class="btn btn-sm btn-outline-primary">Show &amp; Copy</button>
            </div>
          </div>
          <!--
          <div class="d-flex flex-row justify-content-end mt-5">
            <a href="" class="btn btn-info w-200 mr-2">Clear</a>
            <button type="button" id="btn_copy" class="btn btn-primary" data-clipboard-target="#reportModalBody">
              Show &amp; Copy
            </button>
          </div>
          -->
        </div>

        <div class="row">
          <!-- first column -->
          <div class="col">
            <!-- Tumor Size -->
            <h2 class="h4 mt-4">Tumor Size</h2>
            <form>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input" type="checkbox" id="cb_ts_nm" value="1">
                <label class="form-check-label" for="cb_ts_nm">Not assessable (Tx)</label>
                <div class="valid-tooltip">
                  Or, check Non-measurable.
                </div>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input" type="checkbox" id="cb_ts_no" value="1">
                <label class="form-check-label" for="cb_ts_no">No evidence of primary tumor (T0)</label>
                <div class="valid-tooltip">
                  Or, check Non-measurable.
                </div>
              </div>
            </form>
            <form class="needs-validation form-inline" id="form_tumor_size" novalidate>
              <div class="input-group input-group-sm mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">Size</span>
                </div>
                <input type="number" pattern="[0-9]+([\,|\.][0-9]+)?" step="0.1" class="form-control"
                  aria-label="Largest diameter in cm" id="txt_ts_dia" placeholder="Largest diameter" required>
                <div class="input-group-append">
                  <span class="input-group-text">cm</span>
                </div>
              </div>
              <div class="input-group input-group-sm mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">Thickness</span>
                </div>
                <input type="number" pattern="[0-9]+([\,|\.][0-9]+)?" step="0.1" class="form-control"
                  aria-label="Maximum thickness in cm" id="txt_ts_thick" placeholder="" required>
                <div class="input-group-append">
                  <span class="input-group-text">cm</span>
                </div>
              </div>
            </form>

            <!-- Tumor Location -->
            <h2 class="h4">Tumor Location</h2>
            <form class="needs-validation" id="form_tumor_location" novalidate>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_tl" type="checkbox" id="cb_tl_bt" value="base of the tongue">
                <label class="form-check-label" for="cb_tl_bt">Base of the tongue</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_tl" type="checkbox" id="cb_tl_tf" value="tonsillar fossa">
                <label class="form-check-label" for="cb_tl_tf">Tonsillar fossa</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_tl" type="checkbox" id="cb_tl_sp" value="soft palate">
                <label class="form-check-label" for="cb_tl_sp">Soft palate</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_tl" type="checkbox" id="cb_tl_ow" value="oropharyngeal walls">
                <label class="form-check-label" for="cb_tl_ow">Oropharyngeal walls</label>
              </div>
              <div class="input-group input-group-sm col-10 pl-0 mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" class="cb_tl" aria-label="Checkbox for other tumor locations"
                      id="cb_tl_others" value="">
                  </div>
                  <span class="input-group-text">Others</span>
                </div>
                <input type="text" class="form-control" aria-label="Text input with checkbox for other tumor locations"
                  id="txt_tl_others">
              </div>
            </form>
            <form class="form-inline">
              <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label" for="cb_tl_lat">Laterality</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_tl_lat" type="checkbox" id="cb_tl_r"
                  value="right">
                <label class="form-check-label" for="cb_tl_r">right</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_tl_lat" type="checkbox" id="cb_tl_l"
                  value="left">
                <label class="form-check-label" for="cb_tl_l">left</label>
              </div>
            </form>


            <!-- Tumor Invasion -->
            <h2 class="h4 mt-4">Tumor Invasion</h2>
            <h3 class="h5">T3</h3>
            <div class="form-check form-check-inline mb-2 mr-sm-2">
              <input class="form-check-input cb_ti cb_ti_t3" type="checkbox" id="cb_ti_else" value="extension to lingual surface of epiglottis">
              <label class="form-check-label" for="cb_ti_else">Extension to lingual surface of epiglottis</label>
            </div>
            <h3 class="h5">T4a</h3>
            <div class="form-check form-check-inline mb-2 mr-sm-2">
              <input class="form-check-input cb_ti cb_ti_t4a" type="checkbox" id="cb_ti_l"
                value="larynx">
              <label class="form-check-label" for="cb_ti_l">Larynx</label>
            </div>
            <div class="form-check form-check-inline mb-2 mr-sm-2">
              <input class="form-check-input cb_ti cb_ti_t4a" type="checkbox" id="cb_ti_emt"
                value="extrinsic muscle of tongue">
              <label class="form-check-label" for="cb_ti_emt">Extrinsic muscle of tongue</label>
            </div>
            <div class="form-check form-check-inline mb-2 mr-sm-2">
              <input class="form-check-input cb_ti cb_ti_t4a" type="checkbox" id="cb_ti_mpm"
                value="medial pterygoid muscle">
              <label class="form-check-label" for="cb_ti_mpm">Medial pterygoid muscle</label>
            </div>
            <div class="form-check form-check-inline mb-2 mr-sm-2">
              <input class="form-check-input cb_ti cb_ti_t4a" type="checkbox" id="cb_ti_hp"
                value="hard palate">
              <label class="form-check-label" for="cb_ti_hp">Hard palate</label>
            </div>
            <div class="form-check form-check-inline mb-2 mr-sm-2">
              <input class="form-check-input cb_ti cb_ti_t4a" type="checkbox" id="cb_ti_m"
                value="mandible">
              <label class="form-check-label" for="cb_ti_m">Mandible</label>
            </div>

            <h3 class="h5">T4b</h3>
            <div class="form-check form-check-inline mb-2 mr-sm-2">
              <input class="form-check-input cb_ti cb_ti_t4b" type="checkbox" id="cb_ti_lpm" value="lateral pterygoid muscle">
              <label class="form-check-label" for="cb_ti_lpm">Lateral pterygoid muscle</label>
            </div>
            <div class="form-check form-check-inline mb-2 mr-sm-2">
              <input class="form-check-input cb_ti cb_ti_t4b" type="checkbox" id="cb_ti_pp"
                value="pterygoid plates">
              <label class="form-check-label" for="cb_ti_pp">Pterygoid plates</label>
            </div>
            <div class="form-check form-check-inline mb-2 mr-sm-2">
              <input class="form-check-input cb_ti cb_ti_t4b" type="checkbox" id="cb_ti_lnp" value="lateral nasopharynx">
              <label class="form-check-label" for="cb_ti_lnp">Lateral nasopharynx</label>
            </div>
            <div class="form-check form-check-inline mb-2 mr-sm-2">
              <input class="form-check-input cb_ti cb_ti_t4b" type="checkbox" id="cb_ti_sb"
                value="skull base">
              <label class="form-check-label" for="cb_ti_sb">Skull base</label>
            </div>
            <div class="form-check form-check-inline mb-2 mr-sm-2">
              <input class="form-check-input cb_ti cb_ti_t4b" type="checkbox" id="cb_ti_eca"
                value="encasement of carotid artery">
              <label class="form-check-label" for="cb_ti_eca">Encasement of carotid artery</label>
            </div>
            <div class="input-group input-group-sm col-10 pl-0 mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" class="cb_ti" aria-label="Checkbox for other tumor invasion"
                    id="cb_ti_others" value="">
                </div>
                <span class="input-group-text">Others</span>
              </div>
              <input type="text" class="form-control"
                aria-label="Text input with checkbox for other tumor invasion" id="txt_ti_others">
            </div>
          </div>

          <!-- second column -->
          <div class="col">
            <!-- Regional Lymph Node -->
            <h2 class="h4">Regional Lymph Node</h2>
            <h3 class="h5 mt-2">Locations</h3>
            <form class="form-inline rn_item">
              <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label cb_rn_title" for="">Right neck level</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_r cb_rn_r_nrp" type="checkbox" id="cb_rn_r_1" value="I">
                <label class="form-check-label" for="cb_rn_r_1">I</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_r cb_rn_r_nrp" type="checkbox" id="cb_rn_r_2" value="II">
                <label class="form-check-label" for="cb_rn_r_2">II</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_r cb_rn_r_nrp" type="checkbox" id="cb_rn_r_3" value="III">
                <label class="form-check-label" for="cb_rn_r_3">III</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_r cb_rn_r_nrp cb_rn_n3" type="checkbox" id="cb_rn_r_4" value="IV">
                <label class="form-check-label" for="cb_rn_r_4">IV</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_r cb_rn_r_nrp" type="checkbox" id="cb_rn_r_5" value="V">
                <label class="form-check-label" for="cb_rn_r_5">V</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_r cb_rn_r_nrp" type="checkbox" id="cb_rn_r_6" value="VI">
                <label class="form-check-label" for="cb_rn_r_6">VI</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_r cb_rn_r_nrp cb_rn_n3" type="checkbox" id="cb_rn_r_7" value="VII">
                <label class="form-check-label" for="cb_rn_r_7">VII</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_r cb_rn_r_nrp" type="checkbox" id="cb_rn_r_f" value="facial">
                <label class="form-check-label" for="cb_rn_r_f">facial</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_r cb_rn_r_nrp" type="checkbox" id="cb_rn_r_pp" value="parapharyngeal">
                <label class="form-check-label" for="cb_rn_r_pp">parapharyngeal</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_r" type="checkbox" id="cb_rn_r_rp" value="retropharyngeal">
                <label class="form-check-label" for="cb_rn_r_rp">retropharyngeal</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_r cb_rn_r_nrp" type="checkbox" id="cb_rn_r_p" value="parotid">
                <label class="form-check-label" for="cb_rn_r_p">parotid</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_r cb_rn_r_nrp" type="checkbox" id="cb_rn_r_so" value="suboccipital">
                <label class="form-check-label" for="cb_rn_r_so">suboccipital</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_r cb_rn_r_nrp" type="checkbox" id="cb_rn_r_ra" value="retroauricular">
                <label class="form-check-label" for="cb_rn_r_ra">retroauricular</label>
              </div>
            </form>
            <form class="form-inline rn_item">
              <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label cb_rn_title" for="">Left neck level</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_l cb_rn_l_nrp" type="checkbox" id="cb_rn_l_1" value="I">
                <label class="form-check-label" for="cb_rn_l_1">I</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_l cb_rn_l_nrp" type="checkbox" id="cb_rn_l_2" value="II">
                <label class="form-check-label" for="cb_rn_l_2">II</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_l cb_rn_l_nrp" type="checkbox" id="cb_rn_l_3" value="III">
                <label class="form-check-label" for="cb_rn_l_3">III</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_l cb_rn_l_nrp cb_rn_n3" type="checkbox" id="cb_rn_l_4" value="IV">
                <label class="form-check-label" for="cb_rn_l_4">IV</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_l cb_rn_l_nrp" type="checkbox" id="cb_rn_l_5" value="V">
                <label class="form-check-label" for="cb_rn_l_5">V</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_l cb_rn_l_nrp" type="checkbox" id="cb_rn_l_6" value="VI">
                <label class="form-check-label" for="cb_rn_l_6">VI</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_l cb_rn_l_nrp cb_rn_n3" type="checkbox" id="cb_rn_l_7" value="VII">
                <label class="form-check-label" for="cb_rn_l_7">VII</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_l cb_rn_l_nrp" type="checkbox" id="cb_rn_l_f" value="facial">
                <label class="form-check-label" for="cb_rn_l_f">facial</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_l cb_rn_l_nrp" type="checkbox" id="cb_rn_l_pp" value="parapharyngeal">
                <label class="form-check-label" for="cb_rn_l_pp">parapharyngeal</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_l" type="checkbox" id="cb_rn_l_rp" value="retropharyngeal">
                <label class="form-check-label" for="cb_rn_l_rp">retropharyngeal</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_l cb_rn_l_nrp" type="checkbox" id="cb_rn_l_p" value="parotid">
                <label class="form-check-label" for="cb_rn_l_p">parotid</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_l cb_rn_l_nrp" type="checkbox" id="cb_rn_l_so" value="suboccipital">
                <label class="form-check-label" for="cb_rn_l_so">suboccipital</label>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_l cb_rn_l_nrp" type="checkbox" id="cb_rn_l_ra" value="retroauricular">
                <label class="form-check-label" for="cb_rn_l_ra">retroauricular</label>
              </div>
            </form>
            <div class="input-group input-group-sm mb-2 mr-sm-2">
              <input type="number" pattern="[0-9]+([\,|\.][0-9]+)?" step="0.1" class="form-control"
                aria-label="Maximum size of the largest positive node" id="txt_rn_len"
                placeholder="Maximum size of the largest positive node" required>
              <div class="input-group-append">
                <span class="input-group-text">cm</span>
              </div>
              <div class="invalid-tooltip">
                Please enter a number.
              </div>
            </div>
            <div class="form-check mb-2 mr-sm-2">
              <input class="form-check-input cb_rn_oth" type="checkbox" id="cb_rn_bc"
                value="Extension below the caudal border of cricoid cartilage">
              <label class="form-check-label" for="cb_rn_bc">Extension below the caudal border of cricoid cartilage (N3)</label>
            </div>
            <div class="form-check mb-2 mr-sm-2">
              <input class="form-check-input cb_rn_oth" type="checkbox" id="cb_rn_ene"
                value="extranodal extension (ENE)">
              <label class="form-check-label" for="cb_rn_ene">Extranodal extension (ENE)</label>
            </div>
            <div class="form-check mb-2 mr-sm-2">
              <input class="form-check-input cb_rn_oth" type="checkbox" id="cb_rn_hpv"
                value="HPV-mediated (p16+)">
              <label class="form-check-label" for="cb_rn_hpv">HPV-mediated (p16+)</label>
            </div>
            <div class="form-check mb-2 mr-sm-2">
              <input class="form-check-input cb_rn_oth" type="checkbox" id="cb_rn_sin"
                value="single lymphadenopathy">
              <label class="form-check-label" for="cb_rn_sin">Single lymphadenopathy (N1 or N2a in Non-viral)</label>
            </div>

            <!-- Distant Metastasis -->
            <h2 class="h4 mt-4">Distant Metastasis</h2>
            <form class="">
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_dm cb_dm_m1ab" type="checkbox" id="cb_dm_lu" value="lung">
                <label class="form-check-label" for="cb_dm_lu">Lung</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_dm cb_dm_m1ab" type="checkbox" id="cb_dm_b" value="bone">
                <label class="form-check-label" for="cb_dm_b">Bone</label>
              </div>
              <div class="input-group input-group-sm col-10 pl-0 mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" class="cb_dm cb_dm_m1ab" aria-label="Checkbox for other distant metastasis"
                      id="cb_dm_others" value="">
                  </div>
                  <span class="input-group-text">Others</span>
                </div>
                <input type="text" class="form-control"
                  aria-label="Text input with checkbox for other distant metastasis" id="txt_dm_others">
              </div>
            </form>

            <!-- Scanning Protocol -->
            <h2 class="h4 mt-4">Scanning Protocol</h2>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="protocol_radios" id="radio_ct" value="ct">
              <label class="form-check-label" for="radio_ct">
                CT
              </label>
              <form class="form-inline">
                <div class="form-group mb-2 mr-sm-2">
                  <div id="ref_rln_num" class="text-muted">
                    Contrast
                  </div>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_sp" type="checkbox" id="cb_sp_ncct" value="ncct" checked>
                  <label class="form-check-label" for="cb_sp_ncct">without</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_sp" type="checkbox" id="cb_sp_cect" value="cect" checked>
                  <label class="form-check-label" for="cb_sp_cect">with</label>
                </div>
              </form>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="protocol_radios" id="radio_mr" value="mr" checked>
              <label class="form-check-label" for="radio_mr">
                MR
              </label>
              <form class="form-inline">
                <div class="form-group mb-2 mr-sm-2">
                  <div id="ref_rln_num" class="text-muted">
                    Contrast
                  </div>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_sp" type="checkbox" id="cb_sp_ncmr" value="ncmr" checked disabled>
                  <label class="form-check-label" for="cb_sp_ncmr">without</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_sp" type="checkbox" id="cb_sp_cemr" value="cemr" checked>
                  <label class="form-check-label" for="cb_sp_cemr">with</label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>

  <!-- Report Modal -->
<%= require('html-loader!../partials/report_modal.html') %>

  <!-- About Modal -->
<%= require('html-loader!../partials/about_modal.html') %>

  <!-- Vendors: jquery, bootstrap, clipboard.js -->
<%= require('html-loader!../partials/vendors_js.html') %>
</body>

</html>

