<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Structured report for pancreatic carcinoma staging">
  <meta name="author" content="I-Ta Tsai">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Structure Report for Pancreatic Carcinoma Staging</title>

  <!-- For IE 6/7/8 Responsive -->
  <!--[if lt IE 9]>
      <script src="js/respond.min.js"></script>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

  <!-- Google Analytics -->
<%= require('html-loader!../partials/google_analytics.html') %>

  <!-- Vendors: jquery, bootstrap, clipboard.js -->
<%= require('html-loader!../partials/vendors_css.html') %>
</head>

<body>

<%= require('html-loader!../partials/nav.html') %>

  <div class="container-fluid">
    <div class="row">
<%= require('html-loader!../partials/sidebar.html') %>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h3">Pancreatic Carcinoma Staging Form</h1>

          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Clear</button>
              <button type="button" id="btn_copy" class="btn btn-sm btn-outline-primary">Show &amp; Copy</button>
            </div>
          </div>
          <!--
          <div class="d-flex flex-row justify-content-end mt-5">
            <a href="" class="btn btn-info w-200 mr-2">Clear</a>
            <button type="button" id="btn_copy" class="btn btn-primary" data-clipboard-target="#reportModalBody">
              Show &amp; Copy
            </button>
          </div>
          -->
        </div>

        <div class="row">
          <div class="col">
            <!-- Scanning Protocol -->
            <h2 class="h4">Scanning Protocol</h2>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="protocol_radios" id="radio_ct" value="ct" checked>
              <label class="form-check-label" for="radio_ct">
                CT
              </label>
              <form class="form-inline">
                <div class="form-group mb-2 mr-sm-2">
                  <div id="ref_rln_num" class="text-muted">
                    Contrast
                  </div>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_sp" type="checkbox" id="cb_sp_ncct" value="ncct" checked>
                  <label class="form-check-label" for="cb_sp_ncct">without</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_sp" type="checkbox" id="cb_sp_cect" value="cect" checked>
                  <label class="form-check-label" for="cb_sp_cect">with</label>
                </div>
              </form>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="protocol_radios" id="radio_mr" value="mr">
              <label class="form-check-label" for="radio_mr">
                MR
              </label>
              <form class="form-inline">
                <div class="form-group mb-2 mr-sm-2">
                  <div id="ref_rln_num" class="text-muted">
                    Contrast
                  </div>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_sp" type="checkbox" id="cb_sp_ncmr" value="ncmr" checked disabled>
                  <label class="form-check-label" for="cb_sp_ncmr">without</label>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input cb_sp" type="checkbox" id="cb_sp_cemr" value="cemr" checked>
                  <label class="form-check-label" for="cb_sp_cemr">with</label>
                </div>
              </form>
            </div>

            <!-- Tumor Location -->
            <h2 class="h4 mt-4">Tumor Location</h2>
            <form class="needs-validation" id="form_tumor_location" novalidate>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_tl cb_tl_hn" type="checkbox" id="cb_tl_c" value="Pancreatic head and neck">
                <label class="form-check-label" for="cb_tl_c">Pancreatic head and neck</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_tl cb_tl_bt" type="checkbox" id="cb_tl_f" value="Pancreatic body">
                <label class="form-check-label" for="cb_tl_f">Pancreatic body</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_tl cb_tl_bt" type="checkbox" id="cb_tl_lc" value="Pancreatic tail">
                <label class="form-check-label" for="cb_tl_lc">Pancreatic tail</label>
              </div>
              <div class="input-group input-group-sm col-10 pl-0 mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" class="cb_tl" aria-label="Checkbox for other tumor locations"
                      id="cb_tl_others" value="">
                  </div>
                  <span class="input-group-text">Others</span>
                </div>
                <input type="text" class="form-control" aria-label="Text input with checkbox for other tumor locations"
                  id="txt_tl_others">
              </div>
            </form>

            <!-- Tumor Size -->
            <h2 class="h4 mt-4">Tumor Size</h2>
            <form class="form-inline needs-validation" id="form_tumor_size" novalidate>
              <div class="input-group input-group-sm col-md-6 pl-0 mb-2 mr-sm-2">
                <input type="number" pattern="[0-9]+([\,|\.][0-9]+)?" step="0.1" class="form-control"
                  aria-label="Greatest diameter of tumor in cm" id="txt_ts_len"
                  placeholder="Greatest diameter" required>
                <div class="input-group-append">
                  <span class="input-group-text">cm</span>
                </div>
                <div class="invalid-tooltip">
                  Please enter a number.
                </div>
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input" type="checkbox" id="cb_ts_nm" value="1">
                <label class="form-check-label" for="cb_ts_nm">Non-measurable</label>
                <div class="valid-tooltip">
                  Or, check Non-measurable.
                </div>
              </div>
            </form>

            <!-- Tumor Invasion or Encasement -->
            <h2 class="h4 mt-4">Tumor Invasion or Encasement</h2>
            <form class="">
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_ti cb_ti_t4" type="checkbox" id="cb_ti_ct" value="Celiac trunk">
                <label class="form-check-label" for="cb_ti_ct">Celiac trunk</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_ti cb_ti_t4" type="checkbox" id="cb_ti_sma" value="Superior mesenteric artery (SMA)">
                <label class="form-check-label" for="cb_ti_sma">Superior mesenteric artery (SMA)</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_ti" type="checkbox" id="cb_ti_smv" value="Superior mesenteric vein (SMV)">
                <label class="form-check-label" for="cb_ti_smv">Superior mesenteric vein (SMV)</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_ti" type="checkbox" id="cb_ti_pv" value="Portal vein">
                <label class="form-check-label" for="cb_ti_pv">Portal vein</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_ti cb_ti_t4" type="checkbox" id="cb_ti_cha" value="Common hepatic artery">
                <label class="form-check-label" for="cb_ti_cha">Common hepatic artery</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_ti" type="checkbox" id="cb_ti_ivc" value="Inferior vena cava">
                <label class="form-check-label" for="cb_ti_ivc">Inferior vena cava</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_ti" type="checkbox" id="cb_ti_a" value="Aorta">
                <label class="form-check-label" for="cb_ti_a">Aorta</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_ti" type="checkbox" id="cb_ti_r" value="Rib">
                <label class="form-check-label" for="cb_ti_r">Rib</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_ti" type="checkbox" id="cb_ti_vb" value="Vertebral body">
                <label class="form-check-label" for="cb_ti_vb">Vertebral body</label>
              </div>
              <div class="input-group input-group-sm col-10 pl-0 mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" class="cb_ti" aria-label="Checkbox for other tumor invasion"
                      id="cb_ti_others" value="">
                  </div>
                  <span class="input-group-text">Others</span>
                </div>
                <input type="text" class="form-control"
                  aria-label="Text input with checkbox for other tumor invasion" id="txt_ti_others">
              </div>
            </form>
          </div>

          <!-- second column -->
          <div class="col">
            <!-- Regional Lymph Node -->
            <h2 class="h4">Regional Lymph Node</h2>
            <form class="form-inline">
              <div class="form-group">
                <div class="input-group input-group-sm mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Number</span>
                  </div>
                  <input type="number" pattern="[0-9]+" step="1" class="form-control"
                    aria-label="Number of suspicious lymph node" id="txt_rln_num" placeholder="0" value="0">
                </div>
              </div>
              <div class="form-group mb-2 mr-sm-2">
                <small id="ref_rln_num" class="text-muted">
                  1-3 (N1), ≥4 (N2)
                </small>
              </div>
            </form>
            <h3 class="h5 mt-2">Locations: for cancer in the pancreas head and neck</h3>
            <form class="">
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_hn" type="checkbox" id="cb_rn_hn_pa" value="pancreaticoduodenal arcades">
                <label class="form-check-label" for="cb_rn_hn_pa">Pancreaticoduodenal arcades</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_hn" type="checkbox" id="cb_rn_hn_cha" value="common hepatic artery">
                <label class="form-check-label" for="cb_rn_hn_cha">Common hepatic artery</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_hn" type="checkbox" id="cb_rn_hn_cbd" value="common bile duct">
                <label class="form-check-label" for="cb_rn_hn_cbd">Common bile duct</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_hn" type="checkbox" id="cb_rn_hn_pv" value="portal vein">
                <label class="form-check-label" for="cb_rn_hn_pv">Portal vein</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_hn" type="checkbox" id="cb_rn_hn_p" value="pyloric">
                <label class="form-check-label" for="cb_rn_hn_p">Pyloric</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_hn" type="checkbox" id="cb_rn_hn_smv" value="superior mesenteric vein">
                <label class="form-check-label" for="cb_rn_hn_smv">Superior mesenteric vein</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_hn" type="checkbox" id="cb_rn_hn_sma" value="right lateral wall of the superior mesenteric artery">
                <label class="form-check-label" for="cb_rn_hn_sma">Right lateral wall of the superior mesenteric artery</label>
              </div>
            </form>

            <h3 class="h5 mt-2">Locations: for cancer in the pancreas body and tail</h3>
            <form class="">
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_bt" type="checkbox" id="cb_rn_bt_cha" value="common hepatic artery">
                <label class="form-check-label" for="cb_rn_bt_cha">Common hepatic artery</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_bt" type="checkbox" id="cb_rn_bt_ca" value="celiac axis">
                <label class="form-check-label" for="cb_rn_bt_ca">Celiac axis</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_rn cb_rn_bt" type="checkbox" id="cb_rn_bt_sa" value="splenic artery">
                <label class="form-check-label" for="cb_rn_bt_sa">Splenic artery</label>
              </div>
            </form>

            <!-- Distant Metastasis -->
            <h2 class="h4 mt-4">Distant Metastasis</h2>
            <form class="">
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_dm cb_dm_m1ab" type="checkbox" id="cb_dm_li" value="liver">
                <label class="form-check-label" for="cb_dm_li">Liver</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_dm cb_dm_m1ab" type="checkbox" id="cb_dm_ad" value="adrenal">
                <label class="form-check-label" for="cb_dm_ad">Adrenal</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_dm cb_dm_m1ab" type="checkbox" id="cb_dm_lu" value="lung">
                <label class="form-check-label" for="cb_dm_lu">Lung</label>
              </div>
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input cb_dm cb_dm_m1ab" type="checkbox" id="cb_dm_b" value="bone">
                <label class="form-check-label" for="cb_dm_b">Bone</label>
              </div>
              <div class="input-group input-group-sm col-10 pl-0 mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" class="cb_dm cb_dm_m1ab" aria-label="Checkbox for other distant metastasis"
                      id="cb_dm_others" value="">
                  </div>
                  <span class="input-group-text">Others</span>
                </div>
                <input type="text" class="form-control"
                  aria-label="Text input with checkbox for other distant metastasis" id="txt_dm_others">
              </div>
            </form>

          </div>
        </div>
      </main>
    </div>
  </div>

  <!-- Report Modal -->
<%= require('html-loader!../partials/report_modal.html') %>

  <!-- About Modal -->
<%= require('html-loader!../partials/about_modal.html') %>

  <!-- Vendors: jquery, bootstrap, clipboard.js -->
<%= require('html-loader!../partials/vendors_js.html') %>
</body>

</html>

