html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */

#inner-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
    padding: 0 auto 50px;
    width: 100%;
}
/* Set the fixed height of the footer here */

#sidebar-wrapper {
    margin-bottom: -50px;
}

#footer {
    height: 50px;
    background-color: #000;
}
